@charset "UTF-8";

/* Font Awesome */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css");

/* Google Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Table of contents
- DDC Full Width Hack
- Base Styles
- Grid
- Hide/Appear
- Responsive Image
- Typography
- Line Height
- Text Alignment
- Padding
- Margins
- Buttons
- Opacity
- Min Heights
*/

/* Generic Normalizers */
html {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: auto;
-moz-osx-font-smoothing: auto;
}

body, div {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}

* , * :before, * :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.acs-wrapper {
position: relative;
width: 100vw;
max-width: none;
left: -50vw;
margin-left: 50%;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box; 
vertical-align: baseline;
}

.acs-content-raw {
position: relative;
width: 100vw;
max-width: none;
left: -50vw;
margin-left: 50%;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box; 
vertical-align: baseline;
}

/* Containers */
.acs-container-fluid {
width: 100%;
padding-right: 1rem;
padding-left: 1rem;
margin: 0 auto
}

.acs-container-sm {
position: relative;
width: 100%;
max-width: 550px;
margin: 0 auto;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box
}

.acs-container-md {
position: relative;
width: 100%;
max-width: 750px;
margin: 0 auto;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box
}

.acs-container-lg {
position: relative;
width: 100%;
max-width: 950px;
margin: 0 auto;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box
}

.acs-container-xl {
position: relative;
width: 100%;
max-width: 980px;
margin: 0 auto;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box
}

.acs-container-2xl {
position: relative;
width: 100%;
max-width: 1250px;
margin: 0 auto;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box
}

.acs-container-3xl {
position: relative;
width: 100%;
max-width: 1500px;
margin: 0 auto;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box
}

.acs-container {
position: relative;
width: 100%;
max-width: 450px;
padding: 0rem 1rem;
margin: auto;
-webkit-box-sizing: border-box;
box-sizing: border-box
}


@media (min-width: 575px) {
.acs-container {
max-width: 555px;
}
}

@media (min-width: 768px) {
.acs-container {
max-width: 748px;
}
}

@media (min-width: 995px) {
.acs-container {
max-width: 975px;
}
}

@media (min-width: 1024px) {
.acs-container {
max-width: 1004px;
}
}

@media (min-width: 1280px) {
.acs-container {
max-width: 1260px;
}
}

@media (min-width: 1536px) {
.acs-container {
max-width: 1516px;
}
}

/* Row */
.acs-row {
display: -webkit-box;
display: flex;
flex-wrap: wrap;
display: -ms-flexbox;
-ms-flex-wrap: wrap;
}

/* Columns */
.acs-column, .acs-columns {
position: relative;
width: 100%;
padding-right: 1.5%;
padding-left: 1.5%;
}


/* For devices larger than 0px */
.acs-column, .acs-columns {
-ms-flex-preferred-size: 0;
-ms-flex-positive: 1;
flex-basis: 0;
-webkit-box-flex: 1;
flex-grow: 1;
max-width: 100%
}

.acs-column-auto, .acs-columns-auto {
-ms-flex: 0 0 auto;
-webkit-box-flex: 0;
flex: 0 0 auto;
width: auto;
max-width: none
}

.acs-twelve {
-ms-flex: 0 0 100%;
-webkit-box-flex: 0;
flex: 0 0 100%;
width: 100%
}

.acs-eleven {
-ms-flex: 0 0 91.66666667%;
-webkit-box-flex: 0;
flex: 0 0 91.66666667%;
width: 91.66666667%
}

.acs-ten {
-ms-flex: 0 0 83.33333333%;
-webkit-box-flex: 0;
flex: 0 0 83.33333333%;
width: 83.33333333%
}

.acs-nine {
-ms-flex: 0 0 75%;
-webkit-box-flex: 0;
flex: 0 0 75%;
width: 75%
}

.acs-eight {
-ms-flex: 0 0 66.66666667%;
-webkit-box-flex: 0;
flex: 0 0 66.66666667%;
width: 66.66666667%
}

.acs-seven {
-ms-flex: 0 0 58.33333333%;
-webkit-box-flex: 0;
flex: 0 0 58.33333333%;
width: 58.33333333%
}

.acs-six {
-ms-flex: 0 0 50%;
-webkit-box-flex: 0;
flex: 0 0 50%;
width: 50%
}

.acs-five {
-ms-flex: 0 0 41.66666667%;
-webkit-box-flex: 0;
flex: 0 0 41.66666667%;
width: 41.66666667%
}

.acs-four {
-ms-flex: 0 0 33.33333333%;
-webkit-box-flex: 0;
flex: 0 0 33.33333333%;
width: 33.33333333%
}

.acs-three {
-ms-flex: 0 0 25%;
-webkit-box-flex: 0;
flex: 0 0 25%;
width: 25%
}

.acs-two {
-ms-flex: 0 0 16.66666667%;
-webkit-box-flex: 0;
flex: 0 0 16.66666667%;
width: 16.66666667%
}

.acs-one {
-ms-flex: 0 0 8.33333333%;
-webkit-box-flex: 0;
flex: 0 0 8.33333333%;
width: 8.33333333%
}

.acs-order-first {
-ms-flex-order: -1;
-webkit-box-ordinal-group: 0;
order: -1;
}
.acs-order-last {
-ms-flex-order: 13;
-webkit-box-ordinal-group: 14;
order: 13;
}
.acs-order-zero {
-ms-flex-order: 0;
-webkit-box-ordinal-group: 1;
order: 0;
}
.acs-order-one {
-ms-flex-order: 1;
-webkit-box-ordinal-group: 2;
order: 1;
}
.acs-order-two {
-ms-flex-order: 2;
-webkit-box-ordinal-group: 3;
order: 2;
}
.acs-order-three {
-ms-flex-order: 3;
-webkit-box-ordinal-group: 4;
order: 3;
}
.acs-order-four {
-ms-flex-order: 4;
-webkit-box-ordinal-group: 5;
order: 4;
}
.acs-order-five {
-ms-flex-order: 5;
-webkit-box-ordinal-group: 6;
order: 5;
}
.acs-order-six {
-ms-flex-order: 6;
-webkit-box-ordinal-group: 7;
order: 6;
}
.acs-order-seven {
-ms-flex-order: 7;
-webkit-box-ordinal-group: 8;
order: 7;
}
.acs-order-eight {
-ms-flex-order: 8;
-webkit-box-ordinal-group: 9;
order: 8;
}
.acs-order-nine {
-ms-flex-order: 9;
-webkit-box-ordinal-group: 10;
order: 9;
}
.acs-order-ten {
-ms-flex-order: 10;
-webkit-box-ordinal-group: 11;
order: 10;
}
.acs-order-eleven {
-ms-flex-order: 11;
-webkit-box-ordinal-group: 12;
order: 11;
}
.acs-order-twelve {
-ms-flex-order: 12;
-webkit-box-ordinal-group: 13;
order: 12;
}

.acs-offset-by-twelve {
margin-left: 100%
}
.acs-offset-by-eleven {
margin-left: 91.66666667%
}
.acs-offset-by-ten {
margin-left: 83.33333333%
}
.acs-offset-by-nine {
margin-left: 75%
}
.acs-offset-by-eight {
margin-left: 66.66666667%
}
.acs-offset-by-seven {
margin-left: 58.33333333%
}
.acs-offset-by-six {
margin-left: 50%
}
.acs-offset-by-five {
margin-left: 41.66666667%
}
.acs-offset-by-four {
margin-left: 33.33333333%
}
.acs-offset-by-three {
margin-left: 25%
}
.acs-offset-by-two {
margin-left: 16.66666667%
}
.acs-offset-by-one {
margin-left: 8.33333333%
}
.acs-offset-by-zero {
margin-left: 0
}


/* For devices larger than 575px (Phablet)*/
@media (min-width: 575px)  {
.acs-column-sm, .acs-columns-sm {
-ms-flex-preferred-size: 0;
-ms-flex-positive: 1;
flex-basis: 0;
-webkit-box-flex: 1;
flex-grow: 1;
max-width: 100%
}

.acs-column-sm-auto, .acs-columns-sm-auto {
-ms-flex: 0 0 auto;
-webkit-box-flex: 0;
flex: 0 0 auto;
width: auto;
max-width: none
}

.acs-twelve-sm {
-ms-flex: 0 0 100%;
-webkit-box-flex: 0;
flex: 0 0 100%;
width: 100%
}

.acs-eleven-sm {
-ms-flex: 0 0 91.66666667%;
-webkit-box-flex: 0;
flex: 0 0 91.66666667%;
width: 91.66666667%
}

.acs-ten-sm {
-ms-flex: 0 0 83.33333333%;
-webkit-box-flex: 0;
flex: 0 0 83.33333333%;
width: 83.33333333%
}

.acs-nine-sm {
-ms-flex: 0 0 75%;
-webkit-box-flex: 0;
flex: 0 0 75%;
width: 75%
}

.acs-eight-sm {
-ms-flex: 0 0 66.66666667%;
-webkit-box-flex: 0;
flex: 0 0 66.66666667%;
width: 66.66666667%
}

.acs-seven-sm {
-ms-flex: 0 0 58.33333333%;
-webkit-box-flex: 0;
flex: 0 0 58.33333333%;
width: 58.33333333%
}

.acs-six-sm {
-ms-flex: 0 0 50%;
-webkit-box-flex: 0;
flex: 0 0 50%;
width: 50%
}

.acs-five-sm {
-ms-flex: 0 0 41.66666667%;
-webkit-box-flex: 0;
flex: 0 0 41.66666667%;
width: 41.66666667%
}

.acs-four-sm {
-ms-flex: 0 0 33.33333333%;
-webkit-box-flex: 0;
flex: 0 0 33.33333333%;
width: 33.33333333%
}

.acs-three-sm {
-ms-flex: 0 0 25%;
-webkit-box-flex: 0;
flex: 0 0 25%;
width: 25%
}

.acs-two-sm {
-ms-flex: 0 0 16.66666667%;
-webkit-box-flex: 0;
flex: 0 0 16.66666667%;
width: 16.66666667%
}

.acs-one-sm {
-ms-flex: 0 0 8.33333333%;
-webkit-box-flex: 0;
flex: 0 0 8.33333333%;
width: 8.33333333%
}

.acs-order-first-sm {
-ms-flex-order: -1;
-webkit-box-ordinal-group: 0;
order: -1;
}
.acs-order-last-sm {
-ms-flex-order: 13;
-webkit-box-ordinal-group: 14;
order: 13;
}
.acs-order-zero-sm {
-ms-flex-order: 0;
-webkit-box-ordinal-group: 1;
order: 0;
}
.acs-order-one-sm {
-ms-flex-order: 1;
-webkit-box-ordinal-group: 2;
order: 1;
}
.acs-order-two-sm {
-ms-flex-order: 2;
-webkit-box-ordinal-group: 3;
order: 2;
}
.acs-order-three-sm {
-ms-flex-order: 3;
-webkit-box-ordinal-group: 4;
order: 3;
}
.acs-order-four-sm {
-ms-flex-order: 4;
-webkit-box-ordinal-group: 5;
order: 4;
}
.acs-order-five-sm {
-ms-flex-order: 5;
-webkit-box-ordinal-group: 6;
order: 5;
}
.acs-order-six-sm {
-ms-flex-order: 6;
-webkit-box-ordinal-group: 7;
order: 6;
}
.acs-order-seven-sm {
-ms-flex-order: 7;
-webkit-box-ordinal-group: 8;
order: 7;
}
.acs-order-eight-sm {
-ms-flex-order: 8;
-webkit-box-ordinal-group: 9;
order: 8;
}
.acs-order-nine-sm {
-ms-flex-order: 9;
-webkit-box-ordinal-group: 10;
order: 9;
}
.acs-order-ten-sm {
-ms-flex-order: 10;
-webkit-box-ordinal-group: 11;
order: 10;
}
.acs-order-eleven-sm {
-ms-flex-order: 11;
-webkit-box-ordinal-group: 12;
order: 11;
}
.acs-order-twelve-sm {
-ms-flex-order: 12;
-webkit-box-ordinal-group: 13;
order: 12;
}

.acs-offset-by-twelve-sm {
margin-left: 100%
}
.acs-offset-by-eleven-sm {
margin-left: 91.66666667%
}
.acs-offset-by-ten-sm {
margin-left: 83.33333333%
}
.acs-offset-by-nine-sm {
margin-left: 75%
}
.acs-offset-by-eight-sm {
margin-left: 66.66666667%
}
.acs-offset-by-seven-sm {
margin-left: 58.33333333%
}
.acs-offset-by-six-sm {
margin-left: 50%
}
.acs-offset-by-five-sm {
margin-left: 41.66666667%
}
.acs-offset-by-four-sm {
margin-left: 33.33333333%
}
.acs-offset-by-three-sm {
margin-left: 25%
}
.acs-offset-by-two-sm {
margin-left: 16.66666667%
}
.acs-offset-by-one-sm {
margin-left: 8.33333333%
}
.acs-offset-by-zero-sm {
margin-left: 0
}
}



/* For devices larger than 768px (Desktop) */
@media (min-width: 768px) {
.acs-column-md, .acs-columns-md {
-ms-flex-preferred-size: 0;
-ms-flex-positive: 1;
flex-basis: 0;
-webkit-box-flex: 1;
flex-grow: 1;
max-width: 100%
}

.acs-column-md-auto, .acs-columns-md-auto {
-ms-flex: 0 0 auto;
-webkit-box-flex: 0;
flex: 0 0 auto;
width: auto;
max-width: none
}

.acs-twelve-md {
-ms-flex: 0 0 100%;
-webkit-box-flex: 0;
flex: 0 0 100%;
width: 100%
}

.acs-eleven-md {
-ms-flex: 0 0 91.66666667%;
-webkit-box-flex: 0;
flex: 0 0 91.66666667%;
width: 91.66666667%
}

.acs-ten-md {
-ms-flex: 0 0 83.33333333%;
-webkit-box-flex: 0;
flex: 0 0 83.33333333%;
width: 83.33333333%
}

.acs-nine-md {
-ms-flex: 0 0 75%;
-webkit-box-flex: 0;
flex: 0 0 75%;
width: 75%
}

.acs-eight-md {
-ms-flex: 0 0 66.66666667%;
-webkit-box-flex: 0;
flex: 0 0 66.66666667%;
width: 66.66666667%
}

.acs-seven-md {
-ms-flex: 0 0 58.33333333%;
-webkit-box-flex: 0;
flex: 0 0 58.33333333%;
width: 58.33333333%
}

.acs-six-md {
-ms-flex: 0 0 50%;
-webkit-box-flex: 0;
flex: 0 0 50%;
width: 50%
}

.acs-five-md {
-ms-flex: 0 0 41.66666667%;
-webkit-box-flex: 0;
flex: 0 0 41.66666667%;
width: 41.66666667%
}

.acs-four-md {
-ms-flex: 0 0 33.33333333%;
-webkit-box-flex: 0;
flex: 0 0 33.33333333%;
width: 33.33333333%
}

.acs-three-md {
-ms-flex: 0 0 25%;
-webkit-box-flex: 0;
flex: 0 0 25%;
width: 25%
}

.acs-two-md {
-ms-flex: 0 0 16.66666667%;
-webkit-box-flex: 0;
flex: 0 0 16.66666667%;
width: 16.66666667%
}

.acs-one-md {
-ms-flex: 0 0 8.33333333%;
-webkit-box-flex: 0;
flex: 0 0 8.33333333%;
width: 8.33333333%
}

.acs-order-first-md {
-ms-flex-order: -1;
-webkit-box-ordinal-group: 0;
order: -1;
}
.acs-order-last-md {
-ms-flex-order: 13;
-webkit-box-ordinal-group: 14;
order: 13;
}
.acs-order-zero-md {
-ms-flex-order: 0;
-webkit-box-ordinal-group: 1;
order: 0;
}
.acs-order-one-md {
-ms-flex-order: 1;
-webkit-box-ordinal-group: 2;
order: 1;
}
.acs-order-two-md {
-ms-flex-order: 2;
-webkit-box-ordinal-group: 3;
order: 2;
}
.acs-order-three-md {
-ms-flex-order: 3;
-webkit-box-ordinal-group: 4;
order: 3;
}
.acs-order-four-md {
-ms-flex-order: 4;
-webkit-box-ordinal-group: 5;
order: 4;
}
.acs-order-five-md {
-ms-flex-order: 5;
-webkit-box-ordinal-group: 6;
order: 5;
}
.acs-order-six-md {
-ms-flex-order: 6;
-webkit-box-ordinal-group: 7;
order: 6;
}
.acs-order-seven-md {
-ms-flex-order: 7;
-webkit-box-ordinal-group: 8;
order: 7;
}
.acs-order-eight-md {
-ms-flex-order: 8;
-webkit-box-ordinal-group: 9;
order: 8;
}
.acs-order-nine-md {
-ms-flex-order: 9;
-webkit-box-ordinal-group: 10;
order: 9;
}
.acs-order-ten-md {
-ms-flex-order: 10;
-webkit-box-ordinal-group: 11;
order: 10;
}
.acs-order-eleven-md {
-ms-flex-order: 11;
-webkit-box-ordinal-group: 12;
order: 11;
}
.acs-order-twelve-md {
-ms-flex-order: 12;
-webkit-box-ordinal-group: 13;
order: 12;
}

.acs-offset-by-twelve-md {
margin-left: 100%
}
.acs-offset-by-eleven-md {
margin-left: 91.66666667%
}
.acs-offset-by-ten-md {
margin-left: 83.33333333%
}
.acs-offset-by-nine-md {
margin-left: 75%
}
.acs-offset-by-eight-md {
margin-left: 66.66666667%
}
.acs-offset-by-seven-md {
margin-left: 58.33333333%
}
.acs-offset-by-six-md {
margin-left: 50%
}
.acs-offset-by-five-md {
margin-left: 41.66666667%
}
.acs-offset-by-four-md {
margin-left: 33.33333333%
}
.acs-offset-by-three-md {
margin-left: 25%
}
.acs-offset-by-two-md {
margin-left: 16.66666667%
}
.acs-offset-by-one-md {
margin-left: 8.33333333%
}
.acs-offset-by-zero-md {
margin-left: 0
}
}

/* For devices larger than 995px (Large Desktop) */
@media (min-width: 995px) {
.acs-column-lg, .acs-columns-lg {
-ms-flex-preferred-size: 0;
-ms-flex-positive: 1;
flex-basis: 0;
-webkit-box-flex: 1;
flex-grow: 1;
max-width: 100%
}

.acs-column-lg-auto, .acs-columns-lg-auto {
-ms-flex: 0 0 auto;
-webkit-box-flex: 0;
flex: 0 0 auto;
width: auto;
max-width: none
}

.acs-twelve-lg {
-ms-flex: 0 0 100%;
-webkit-box-flex: 0;
flex: 0 0 100%;
width: 100%
}

.acs-eleven-lg {
-ms-flex: 0 0 91.66666667%;
-webkit-box-flex: 0;
flex: 0 0 91.66666667%;
width: 91.66666667%
}

.acs-ten-lg {
-ms-flex: 0 0 83.33333333%;
-webkit-box-flex: 0;
flex: 0 0 83.33333333%;
width: 83.33333333%
}

.acs-nine-lg {
-ms-flex: 0 0 75%;
-webkit-box-flex: 0;
flex: 0 0 75%;
width: 75%
}

.acs-eight-lg {
-ms-flex: 0 0 66.66666667%;
-webkit-box-flex: 0;
flex: 0 0 66.66666667%;
width: 66.66666667%
}

.acs-seven-lg {
-ms-flex: 0 0 58.33333333%;
-webkit-box-flex: 0;
flex: 0 0 58.33333333%;
width: 58.33333333%
}

.acs-six-lg {
-ms-flex: 0 0 50%;
-webkit-box-flex: 0;
flex: 0 0 50%;
width: 50%
}

.acs-five-lg {
-ms-flex: 0 0 41.66666667%;
-webkit-box-flex: 0;
flex: 0 0 41.66666667%;
width: 41.66666667%
}

.acs-four-lg {
-ms-flex: 0 0 33.33333333%;
-webkit-box-flex: 0;
flex: 0 0 33.33333333%;
width: 33.33333333%
}

.acs-three-lg {
-ms-flex: 0 0 25%;
-webkit-box-flex: 0;
flex: 0 0 25%;
width: 25%
}

.acs-two-lg {
-ms-flex: 0 0 16.66666667%;
-webkit-box-flex: 0;
flex: 0 0 16.66666667%;
width: 16.66666667%
}

.acs-one-lg {
-ms-flex: 0 0 8.33333333%;
-webkit-box-flex: 0;
flex: 0 0 8.33333333%;
width: 8.33333333%
}

.acs-order-first-lg {
-ms-flex-order: -1;
-webkit-box-ordinal-group: 0;
order: -1;
}
.acs-order-last-lg {
-ms-flex-order: 13;
-webkit-box-ordinal-group: 14;
order: 13;
}
.acs-order-zero-lg {
-ms-flex-order: 0;
-webkit-box-ordinal-group: 1;
order: 0;
}
.acs-order-one-lg {
-ms-flex-order: 1;
-webkit-box-ordinal-group: 2;
order: 1;
}
.acs-order-two-lg {
-ms-flex-order: 2;
-webkit-box-ordinal-group: 3;
order: 2;
}
.acs-order-three-lg {
-ms-flex-order: 3;
-webkit-box-ordinal-group: 4;
order: 3;
}
.acs-order-four-lg {
-ms-flex-order: 4;
-webkit-box-ordinal-group: 5;
order: 4;
}
.acs-order-five-lg {
-ms-flex-order: 5;
-webkit-box-ordinal-group: 6;
order: 5;
}
.acs-order-six-lg {
-ms-flex-order: 6;
-webkit-box-ordinal-group: 7;
order: 6;
}
.acs-order-seven-lg {
-ms-flex-order: 7;
-webkit-box-ordinal-group: 8;
order: 7;
}
.acs-order-eight-lg {
-ms-flex-order: 8;
-webkit-box-ordinal-group: 9;
order: 8;
}
.acs-order-nine-lg {
-ms-flex-order: 9;
-webkit-box-ordinal-group: 10;
order: 9;
}
.acs-order-ten-lg {
-ms-flex-order: 10;
-webkit-box-ordinal-group: 11;
order: 10;
}
.acs-order-eleven-lg {
-ms-flex-order: 11;
-webkit-box-ordinal-group: 12;
order: 11;
}
.acs-order-twelve-lg {
-ms-flex-order: 12;
-webkit-box-ordinal-group: 13;
order: 12;
}

.acs-offset-by-twelve-lg {
margin-left: 100%
}
.acs-offset-by-eleven-lg {
margin-left: 91.66666667%
}
.acs-offset-by-ten-lg {
margin-left: 83.33333333%
}
.acs-offset-by-nine-lg {
margin-left: 75%
}
.acs-offset-by-eight-lg {
margin-left: 66.66666667%
}
.acs-offset-by-seven-lg {
margin-left: 58.33333333%
}
.acs-offset-by-six-lg {
margin-left: 50%
}
.acs-offset-by-five-lg {
margin-left: 41.66666667%
}
.acs-offset-by-four-lg {
margin-left: 33.33333333%
}
.acs-offset-by-three-lg {
margin-left: 25%
}
.acs-offset-by-two-lg {
margin-left: 16.66666667%
}
.acs-offset-by-one-lg {
margin-left: 8.33333333%
}
.acs-offset-by-zero-lg {
margin-left: 0
}
}

/* For devices larger than 1024px (Extra Large Desktop) */
@media (min-width: 1024px) {
.acs-column-xl, .acs-columns-xl {
-ms-flex-preferred-size: 0;
-ms-flex-positive: 1;
flex-basis: 0;
-webkit-box-flex: 1;
flex-grow: 1;
max-width: 100%
}

.acs-column-xl-auto, .acs-columns-xl-auto {
-ms-flex: 0 0 auto;
-webkit-box-flex: 0;
flex: 0 0 auto;
width: auto;
max-width: none
}

.acs-twelve-xl {
-ms-flex: 0 0 100%;
-webkit-box-flex: 0;
flex: 0 0 100%;
width: 100%
}

.acs-eleven-xl {
-ms-flex: 0 0 91.66666667%;
-webkit-box-flex: 0;
flex: 0 0 91.66666667%;
width: 91.66666667%
}

.acs-ten-xl {
-ms-flex: 0 0 83.33333333%;
-webkit-box-flex: 0;
flex: 0 0 83.33333333%;
width: 83.33333333%
}

.acs-nine-xl {
-ms-flex: 0 0 75%;
-webkit-box-flex: 0;
flex: 0 0 75%;
width: 75%
}

.acs-eight-xl {
-ms-flex: 0 0 66.66666667%;
-webkit-box-flex: 0;
flex: 0 0 66.66666667%;
width: 66.66666667%
}

.acs-seven-xl {
-ms-flex: 0 0 58.33333333%;
-webkit-box-flex: 0;
flex: 0 0 58.33333333%;
width: 58.33333333%
}

.acs-six-xl {
-ms-flex: 0 0 50%;
-webkit-box-flex: 0;
flex: 0 0 50%;
width: 50%
}

.acs-five-xl {
-ms-flex: 0 0 41.66666667%;
-webkit-box-flex: 0;
flex: 0 0 41.66666667%;
width: 41.66666667%
}

.acs-four-xl {
-ms-flex: 0 0 33.33333333%;
-webkit-box-flex: 0;
flex: 0 0 33.33333333%;
width: 33.33333333%
}

.acs-three-xl {
-ms-flex: 0 0 25%;
-webkit-box-flex: 0;
flex: 0 0 25%;
width: 25%
}

.acs-two-xl {
-ms-flex: 0 0 16.66666667%;
-webkit-box-flex: 0;
flex: 0 0 16.66666667%;
width: 16.66666667%
}

.acs-one-xl {
-ms-flex: 0 0 8.33333333%;
-webkit-box-flex: 0;
flex: 0 0 8.33333333%;
width: 8.33333333%
}

.acs-order-first-xl {
-ms-flex-order: -1;
-webkit-box-ordinal-group: 0;
order: -1;
}
.acs-order-last-xl {
-ms-flex-order: 13;
-webkit-box-ordinal-group: 14;
order: 13;
}
.acs-order-zero-xl {
-ms-flex-order: 0;
-webkit-box-ordinal-group: 1;
order: 0;
}
.acs-order-one-xl {
-ms-flex-order: 1;
-webkit-box-ordinal-group: 2;
order: 1;
}
.acs-order-two-xl {
-ms-flex-order: 2;
-webkit-box-ordinal-group: 3;
order: 2;
}
.acs-order-three-xl {
-ms-flex-order: 3;
-webkit-box-ordinal-group: 4;
order: 3;
}
.acs-order-four-xl {
-ms-flex-order: 4;
-webkit-box-ordinal-group: 5;
order: 4;
}
.acs-order-five-xl {
-ms-flex-order: 5;
-webkit-box-ordinal-group: 6;
order: 5;
}
.acs-order-six-xl {
-ms-flex-order: 6;
-webkit-box-ordinal-group: 7;
order: 6;
}
.acs-order-seven-xl {
-ms-flex-order: 7;
-webkit-box-ordinal-group: 8;
order: 7;
}
.acs-order-eight-xl {
-ms-flex-order: 8;
-webkit-box-ordinal-group: 9;
order: 8;
}
.acs-order-nine-xl {
-ms-flex-order: 9;
-webkit-box-ordinal-group: 10;
order: 9;
}
.acs-order-ten-xl {
-ms-flex-order: 10;
-webkit-box-ordinal-group: 11;
order: 10;
}
.acs-order-eleven-xl {
-ms-flex-order: 11;
-webkit-box-ordinal-group: 12;
order: 11;
}
.acs-order-twelve-xl {
-ms-flex-order: 12;
-webkit-box-ordinal-group: 13;
order: 12;
}

.acs-offset-by-twelve-xl {
margin-left: 100%
}
.acs-offset-by-eleven-xl {
margin-left: 91.66666667%
}
.acs-offset-by-ten-xl {
margin-left: 83.33333333%
}
.acs-offset-by-nine-xl {
margin-left: 75%
}
.acs-offset-by-eight-xl {
margin-left: 66.66666667%
}
.acs-offset-by-seven-xl {
margin-left: 58.33333333%
}
.acs-offset-by-six-xl {
margin-left: 50%
}
.acs-offset-by-five-xl {
margin-left: 41.66666667%
}
.acs-offset-by-four-xl {
margin-left: 33.33333333%
}
.acs-offset-by-three-xl {
margin-left: 25%
}
.acs-offset-by-two-xl {
margin-left: 16.66666667%
}
.acs-offset-by-one-xl {
margin-left: 8.33333333%
}
.acs-offset-by-zero-xl {
margin-left: 0
}
}

/* For devices larger than 1280px (2XL Desktop) */
@media (min-width: 1280px) {
.acs-column-2xl, .acs-columns-2xl {
-ms-flex-preferred-size: 0;
-ms-flex-positive: 1;
flex-basis: 0;
-webkit-box-flex: 1;
flex-grow: 1;
max-width: 100%
}

.acs-column-2xl-auto, .acs-columns-2xl-auto {
-ms-flex: 0 0 auto;
-webkit-box-flex: 0;
flex: 0 0 auto;
width: auto;
max-width: none
}

.acs-twelve-2xl {
-ms-flex: 0 0 100%;
-webkit-box-flex: 0;
flex: 0 0 100%;
width: 100%
}

.acs-eleven-2xl {
-ms-flex: 0 0 91.66666667%;
-webkit-box-flex: 0;
flex: 0 0 91.66666667%;
width: 91.66666667%
}

.acs-ten-2xl {
-ms-flex: 0 0 83.33333333%;
-webkit-box-flex: 0;
flex: 0 0 83.33333333%;
width: 83.33333333%
}

.acs-nine-2xl {
-ms-flex: 0 0 75%;
-webkit-box-flex: 0;
flex: 0 0 75%;
width: 75%
}

.acs-eight-2xl {
-ms-flex: 0 0 66.66666667%;
-webkit-box-flex: 0;
flex: 0 0 66.66666667%;
width: 66.66666667%
}

.acs-seven-2xl {
-ms-flex: 0 0 58.33333333%;
-webkit-box-flex: 0;
flex: 0 0 58.33333333%;
width: 58.33333333%
}

.acs-six-2xl {
-ms-flex: 0 0 50%;
-webkit-box-flex: 0;
flex: 0 0 50%;
width: 50%
}

.acs-five-2xl {
-ms-flex: 0 0 41.66666667%;
-webkit-box-flex: 0;
flex: 0 0 41.66666667%;
width: 41.66666667%
}

.acs-four-2xl {
-ms-flex: 0 0 33.33333333%;
-webkit-box-flex: 0;
flex: 0 0 33.33333333%;
width: 33.33333333%
}

.acs-three-2xl {
-ms-flex: 0 0 25%;
-webkit-box-flex: 0;
flex: 0 0 25%;
width: 25%
}

.acs-two-2xl {
-ms-flex: 0 0 16.66666667%;
-webkit-box-flex: 0;
flex: 0 0 16.66666667%;
width: 16.66666667%
}

.acs-one-2xl {
-ms-flex: 0 0 8.33333333%;
-webkit-box-flex: 0;
flex: 0 0 8.33333333%;
width: 8.33333333%
}

.acs-order-first-2xl {
-ms-flex-order: -1;
-webkit-box-ordinal-group: 0;
order: -1;
}
.acs-order-last-2xl {
-ms-flex-order: 13;
-webkit-box-ordinal-group: 14;
order: 13;
}
.acs-order-zero-2xl {
-ms-flex-order: 0;
-webkit-box-ordinal-group: 1;
order: 0;
}
.acs-order-one-2xl {
-ms-flex-order: 1;
-webkit-box-ordinal-group: 2;
order: 1;
}
.acs-order-two-2xl {
-ms-flex-order: 2;
-webkit-box-ordinal-group: 3;
order: 2;
}
.acs-order-three-2xl {
-ms-flex-order: 3;
-webkit-box-ordinal-group: 4;
order: 3;
}
.acs-order-four-2xl {
-ms-flex-order: 4;
-webkit-box-ordinal-group: 5;
order: 4;
}
.acs-order-five-2xl {
-ms-flex-order: 5;
-webkit-box-ordinal-group: 6;
order: 5;
}
.acs-order-six-2xl {
-ms-flex-order: 6;
-webkit-box-ordinal-group: 7;
order: 6;
}
.acs-order-seven-2xl {
-ms-flex-order: 7;
-webkit-box-ordinal-group: 8;
order: 7;
}
.acs-order-eight-2xl {
-ms-flex-order: 8;
-webkit-box-ordinal-group: 9;
order: 8;
}
.acs-order-nine-2xl {
-ms-flex-order: 9;
-webkit-box-ordinal-group: 10;
order: 9;
}
.acs-order-ten-2xl {
-ms-flex-order: 10;
-webkit-box-ordinal-group: 11;
order: 10;
}
.acs-order-eleven-2xl {
-ms-flex-order: 11;
-webkit-box-ordinal-group: 12;
order: 11;
}
.acs-order-twelve-2xl {
-ms-flex-order: 12;
-webkit-box-ordinal-group: 13;
order: 12;
}

.acs-offset-by-twelve-2xl {
margin-left: 100%
}
.acs-offset-by-eleven-2xl {
margin-left: 91.66666667%
}
.acs-offset-by-ten-2xl {
margin-left: 83.33333333%
}
.acs-offset-by-nine-2xl {
margin-left: 75%
}
.acs-offset-by-eight-2xl {
margin-left: 66.66666667%
}
.acs-offset-by-seven-2xl {
margin-left: 58.33333333%
}
.acs-offset-by-six-2xl {
margin-left: 50%
}
.acs-offset-by-five-2xl {
margin-left: 41.66666667%
}
.acs-offset-by-four-2xl {
margin-left: 33.33333333%
}
.acs-offset-by-three-2xl {
margin-left: 25%
}
.acs-offset-by-two-2xl {
margin-left: 16.66666667%
}
.acs-offset-by-one-2xl {
margin-left: 8.33333333%
}
.acs-offset-by-zero-2xl {
margin-left: 0
}
}

/* For devices larger than 1536px (3XL Desktop) */
@media (min-width: 1536px) {
.acs-column-3xl, .acs-columns-3xl {
-ms-flex-preferred-size: 0;
-ms-flex-positive: 1;
flex-basis: 0;
-webkit-box-flex: 1;
flex-grow: 1;
max-width: 100%
}

.acs-column-3xl-auto, .acs-columns-3xl-auto {
-ms-flex: 0 0 auto;
-webkit-box-flex: 0;
flex: 0 0 auto;
width: auto;
max-width: none
}

.acs-twelve-3xl {
-ms-flex: 0 0 100%;
-webkit-box-flex: 0;
flex: 0 0 100%;
width: 100%
}

.acs-eleven-3xl {
-ms-flex: 0 0 91.66666667%;
-webkit-box-flex: 0;
flex: 0 0 91.66666667%;
width: 91.66666667%
}

.acs-ten-3xl {
-ms-flex: 0 0 83.33333333%;
-webkit-box-flex: 0;
flex: 0 0 83.33333333%;
width: 83.33333333%
}

.acs-nine-3xl {
-ms-flex: 0 0 75%;
-webkit-box-flex: 0;
flex: 0 0 75%;
width: 75%
}

.acs-eight-3xl {
-ms-flex: 0 0 66.66666667%;
-webkit-box-flex: 0;
flex: 0 0 66.66666667%;
width: 66.66666667%
}

.acs-seven-3xl {
-ms-flex: 0 0 58.33333333%;
-webkit-box-flex: 0;
flex: 0 0 58.33333333%;
width: 58.33333333%
}

.acs-six-3xl {
-ms-flex: 0 0 50%;
-webkit-box-flex: 0;
flex: 0 0 50%;
width: 50%
}

.acs-five-3xl {
-ms-flex: 0 0 41.66666667%;
-webkit-box-flex: 0;
flex: 0 0 41.66666667%;
width: 41.66666667%
}

.acs-four-3xl {
-ms-flex: 0 0 33.33333333%;
-webkit-box-flex: 0;
flex: 0 0 33.33333333%;
width: 33.33333333%
}

.acs-three-3xl {
-ms-flex: 0 0 25%;
-webkit-box-flex: 0;
flex: 0 0 25%;
width: 25%
}

.acs-two-3xl {
-ms-flex: 0 0 16.66666667%;
-webkit-box-flex: 0;
flex: 0 0 16.66666667%;
width: 16.66666667%
}

.acs-one-3xl {
-ms-flex: 0 0 8.33333333%;
-webkit-box-flex: 0;
flex: 0 0 8.33333333%;
width: 8.33333333%
}

.acs-order-first-3xl {
-ms-flex-order: -1;
-webkit-box-ordinal-group: 0;
order: -1;
}
.acs-order-last-3xl {
-ms-flex-order: 13;
-webkit-box-ordinal-group: 14;
order: 13;
}
.acs-order-zero-3xl {
-ms-flex-order: 0;
-webkit-box-ordinal-group: 1;
order: 0;
}
.acs-order-one-3xl {
-ms-flex-order: 1;
-webkit-box-ordinal-group: 2;
order: 1;
}
.acs-order-two-3xl {
-ms-flex-order: 2;
-webkit-box-ordinal-group: 3;
order: 2;
}
.acs-order-three-3xl {
-ms-flex-order: 3;
-webkit-box-ordinal-group: 4;
order: 3;
}
.acs-order-four-3xl {
-ms-flex-order: 4;
-webkit-box-ordinal-group: 5;
order: 4;
}
.acs-order-five-3xl {
-ms-flex-order: 5;
-webkit-box-ordinal-group: 6;
order: 5;
}
.acs-order-six-3xl {
-ms-flex-order: 6;
-webkit-box-ordinal-group: 7;
order: 6;
}
.acs-order-seven-3xl {
-ms-flex-order: 7;
-webkit-box-ordinal-group: 8;
order: 7;
}
.acs-order-eight-3xl {
-ms-flex-order: 8;
-webkit-box-ordinal-group: 9;
order: 8;
}
.acs-order-nine-3xl {
-ms-flex-order: 9;
-webkit-box-ordinal-group: 10;
order: 9;
}
.acs-order-ten-3xl {
-ms-flex-order: 10;
-webkit-box-ordinal-group: 11;
order: 10;
}
.acs-order-eleven-3xl {
-ms-flex-order: 11;
-webkit-box-ordinal-group: 12;
order: 11;
}
.acs-order-twelve-3xl {
-ms-flex-order: 12;
-webkit-box-ordinal-group: 13;
order: 12;
}

.acs-offset-by-twelve-3xl {
margin-left: 100%
}
.acs-offset-by-eleven-3xl {
margin-left: 91.66666667%
}
.acs-offset-by-ten-3xl {
margin-left: 83.33333333%
}
.acs-offset-by-nine-3xl {
margin-left: 75%
}
.acs-offset-by-eight-3xl {
margin-left: 66.66666667%
}
.acs-offset-by-seven-3xl {
margin-left: 58.33333333%
}
.acs-offset-by-six-3xl {
margin-left: 50%
}
.acs-offset-by-five-3xl {
margin-left: 41.66666667%
}
.acs-offset-by-four-3xl {
margin-left: 33.33333333%
}
.acs-offset-by-three-3xl {
margin-left: 25%
}
.acs-offset-by-two-3xl {
margin-left: 16.66666667%
}
.acs-offset-by-one-3xl {
margin-left: 8.33333333%
}
.acs-offset-by-zero-3xl {
margin-left: 0
}
}

/* Flex For devices larger than 0px */
.acs-flex {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
}
.acs-inline-flex {
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
}
.acs-flex-row {
-ms-flex-direction: row;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
}
.acs-flex-column {
-ms-flex-direction: column;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
}
.acs-flex-row-reverse {
-ms-flex-direction: row-reverse;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.acs-flex-column-reverse {
-ms-flex-direction: column-reverse;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
flex-direction: column-reverse;
}
.acs-flex-wrap {
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.acs-flex-nowrap {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}
.acs-flex-wrap-reverse {
-ms-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
}
.acs-flex-fill {
-ms-flex: 1 1 auto;
-webkit-box-flex: 1;
flex: 1 1 auto;
}
.acs-flex-grow-zero {
-ms-flex-positive: 0;
-webkit-box-flex: 0;
flex-grow: 0;
}
.acs-flex-grow-one {
-ms-flex-positive: 1;
-webkit-box-flex: 1;
flex-grow: 1;
}
.acs-flex-shrink-zero {
-ms-flex-negative: 0;
flex-shrink: 0;
}
.acs-flex-shrink-one {
-ms-flex-negative: 1;
flex-shrink: 1;
}
.acs-justify-content-start {
-ms-flex-pack: start;
-webkit-box-pack: start;
justify-content: flex-start;
}
.acs-justify-content-end {
-ms-flex-pack: end;
-webkit-box-pack: end;
justify-content: flex-end;
}
.acs-justify-content-center {
-ms-flex-pack: center;
-webkit-box-pack: center;
justify-content: center;
}
.acs-justify-content-between {
-ms-flex-pack: justify;
-webkit-box-pack: justify;
justify-content: space-between;
}
.acs-justify-content-around {
-ms-flex-pack: distribute;
justify-content: space-around;
}
.acs-align-items-start {
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
}
.acs-align-items-end {
-ms-flex-align: end;
-webkit-box-align: end;
align-items: flex-end;
}
.acs-align-items-center {
-ms-flex-align: center;
-webkit-box-align: center;
align-items: center;
}
.acs-align-items-baseline {
-ms-flex-align: baseline;
-webkit-box-align: baseline;
align-items: baseline;
}
.acs-align-items-stretch {
-ms-flex-align: stretch;
-webkit-box-align: stretch;
align-items: stretch;
}
.acs-align-content-start {
-ms-flex-line-pack: start;
align-content: flex-start;
}
.align-content-end {
-ms-flex-line-pack: end;
align-content: flex-end;
}
.acs-align-content-center {
-ms-flex-line-pack: center;
align-content: center;
}
.acs-align-content-between {
-ms-flex-line-pack: justify;
align-content: space-between;
}
.acs-align-content-around {
-ms-flex-line-pack: distribute;
align-content: space-around;
}
.acs-align-content-stretch {
-ms-flex-line-pack: stretch;
align-content: stretch;
}
.acs-align-self-auto {
-ms-flex-item-align: auto;
-ms-grid-row-align: auto;
align-self: auto;
}
.acs-align-self-start {
-ms-flex-item-align: start;
align-self: flex-start;
}
.acs-align-self-end {
-ms-flex-item-align: end;
align-self: flex-end;
}
.acs-align-self-center {
-ms-flex-item-align: center;
-ms-grid-row-align: center;
align-self: center;
}
.acs-align-self-baseline {
-ms-flex-item-align: baseline;
align-self: baseline;
}
.acs-align-self-stretch {
-ms-flex-item-align: stretch;
-ms-grid-row-align: stretch;
align-self: stretch;
}

/* For devices larger than 575px (Tablet)*/
@media (min-width: 575px) {
.acs-flex-sm {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
}
.acs-inline-flex-sm {
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
}
.acs-flex-row-sm {
-ms-flex-direction: row;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
}
.acs-flex-column-sm {
-ms-flex-direction: column;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
}
.acs-flex-row-reverse-sm {
-ms-flex-direction: row-reverse;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.acs-flex-column-reverse-sm {
-ms-flex-direction: column-reverse;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
flex-direction: column-reverse;
}
.acs-flex-wrap-sm {
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.acs-flex-nowrap-sm {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}
.acs-flex-wrap-reverse-sm {
-ms-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
}
.acs-flex-fill-sm {
-ms-flex: 1 1 auto;
-webkit-box-flex: 1;
flex: 1 1 auto;
}
.acs-flex-grow-zero-sm {
-ms-flex-positive: 0;
-webkit-box-flex: 0;
flex-grow: 0;
}
.acs-flex-grow-one-sm {
-ms-flex-positive: 1;
-webkit-box-flex: 1;
flex-grow: 1;
}
.acs-flex-shrink-zero-sm {
-ms-flex-negative: 0;
flex-shrink: 0;
}
.acs-flex-shrink-one-sm {
-ms-flex-negative: 1;
flex-shrink: 1;
}
.acs-justify-content-start-sm {
-ms-flex-pack: start;
-webkit-box-pack: start;
justify-content: flex-start;
}
.acs-justify-content-end-sm {
-ms-flex-pack: end;
-webkit-box-pack: end;
justify-content: flex-end;
}
.acs-justify-content-center-sm {
-ms-flex-pack: center;
-webkit-box-pack: center;
justify-content: center;
}
.acs-justify-content-between-sm {
-ms-flex-pack: justify;
-webkit-box-pack: justify;
justify-content: space-between;
}
.acs-justify-content-around-sm {
-ms-flex-pack: distribute;
justify-content: space-around;
}
.acs-align-items-start-sm {
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
}
.acs-align-items-end-sm {
-ms-flex-align: end;
-webkit-box-align: end;
align-items: flex-end;
}
.acs-align-items-center-sm {
-ms-flex-align: center;
-webkit-box-align: center;
align-items: center;
}
.acs-align-items-baseline-sm {
-ms-flex-align: baseline;
-webkit-box-align: baseline;
align-items: baseline;
}
.acs-align-items-stretch-sm {
-ms-flex-align: stretch;
-webkit-box-align: stretch;
align-items: stretch;
}
.acs-align-content-start-sm {
-ms-flex-line-pack: start;
align-content: flex-start;
}
.acs-align-content-end-sm {
-ms-flex-line-pack: end;
align-content: flex-end;
}
.acs-align-content-center-sm {
-ms-flex-line-pack: center;
align-content: center;
}
.acs-align-content-between-sm {
-ms-flex-line-pack: justify;
align-content: space-between;
}
.acs-align-content-around-sm {
-ms-flex-line-pack: distribute;
align-content: space-around;
}
.acs-align-content-stretch-sm {
-ms-flex-line-pack: stretch;
align-content: stretch;
}
.acs-align-self-auto-sm {
-ms-flex-item-align: auto;
-ms-grid-row-align: auto;
align-self: auto;
}
.acs-align-self-start-sm {
-ms-flex-item-align: start;
align-self: flex-start;
}
.acs-align-self-end-sm {
-ms-flex-item-align: end;
align-self: flex-end;
}
.acs-align-self-center-sm {
-ms-flex-item-align: center;
-ms-grid-row-align: center;
align-self: center;
}
.acs-align-self-baseline-sm {
-ms-flex-item-align: baseline;
align-self: baseline;
}
.acs-align-self-stretch-sm {
-ms-flex-item-align: stretch;
-ms-grid-row-align: stretch;
align-self: stretch;
}
}

/* For devices larger than 768px (Desktop) */
@media (min-width: 768px) {
.acs-flex-md {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
}
.acs-inline-flex-md {
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
}
.acs-flex-row-md {
-ms-flex-direction: row;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
}
.acs-flex-column-md {
-ms-flex-direction: column;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
}
.acs-flex-row-reverse-md {
-ms-flex-direction: row-reverse;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.acs-flex-column-reverse-md {
-ms-flex-direction: column-reverse;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
flex-direction: column-reverse;
}
.acs-flex-wrap-md {
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.acs-flex-nowrap-md {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}
.acs-flex-wrap-reverse-md {
-ms-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
}
.acs-flex-fill-md {
-ms-flex: 1 1 auto;
-webkit-box-flex: 1;
flex: 1 1 auto;
}
.acs-flex-grow-zero-md {
-ms-flex-positive: 0;
-webkit-box-flex: 0;
flex-grow: 0;
}
.acs-flex-grow-one-md {
-ms-flex-positive: 1;
-webkit-box-flex: 1;
flex-grow: 1;
}
.acs-flex-shrink-zero-md {
-ms-flex-negative: 0;
flex-shrink: 0;
}
.acs-flex-shrink-one-md {
-ms-flex-negative: 1;
flex-shrink: 1;
}
.acs-justify-content-start-md {
-ms-flex-pack: start;
-webkit-box-pack: start;
justify-content: flex-start;
}
.acs-justify-content-end-md {
-ms-flex-pack: end;
-webkit-box-pack: end;
justify-content: flex-end;
}
.acs-justify-content-center-md {
-ms-flex-pack: center;
-webkit-box-pack: center;
justify-content: center;
}
.acs-justify-content-between-md {
-ms-flex-pack: justify;
-webkit-box-pack: justify;
justify-content: space-between;
}
.acs-justify-content-around-md {
-ms-flex-pack: distribute;
justify-content: space-around;
}
.acs-align-items-start-md {
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
}
.acs-align-items-end-md {
-ms-flex-align: end;
-webkit-box-align: end;
align-items: flex-end;
}
.acs-align-items-center-md {
-ms-flex-align: center;
-webkit-box-align: center;
align-items: center;
}
.acs-align-items-baseline-md {
-ms-flex-align: baseline;
-webkit-box-align: baseline;
align-items: baseline;
}
.acs-align-items-stretch-md {
-ms-flex-align: stretch;
-webkit-box-align: stretch;
align-items: stretch;
}
.acs-align-content-start-md {
-ms-flex-line-pack: start;
align-content: flex-start;
}
.acs-align-content-end-md {
-ms-flex-line-pack: end;
align-content: flex-end;
}
.acs-align-content-center-md {
-ms-flex-line-pack: center;
align-content: center;
}
.acs-align-content-between-md {
-ms-flex-line-pack: justify;
align-content: space-between;
}
.acs-align-content-around-md {
-ms-flex-line-pack: distribute;
align-content: space-around;
}
.acs-align-content-stretch-md {
-ms-flex-line-pack: stretch;
align-content: stretch;
}
.acs-align-self-auto-md {
-ms-flex-item-align: auto;
-ms-grid-row-align: auto;
align-self: auto;
}
.acs-align-self-start-md {
-ms-flex-item-align: start;
align-self: flex-start;
}
.acs-align-self-end-md {
-ms-flex-item-align: end;
align-self: flex-end;
}
.acs-align-self-center-md {
-ms-flex-item-align: center;
-ms-grid-row-align: center;
align-self: center;
}
.acs-align-self-baseline-md {
-ms-flex-item-align: baseline;
align-self: baseline;
}
.acs-align-self-stretch-md {
-ms-flex-item-align: stretch;
-ms-grid-row-align: stretch;
align-self: stretch;
}
}

/* For devices larger than 995px (Large Desktop) */
@media (min-width: 995px) {
.acs-flex-lg {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
}
.acs-inline-flex-lg {
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
}
.acs-flex-row-lg {
-ms-flex-direction: row;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
}
.acs-flex-column-lg {
-ms-flex-direction: column;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
}
.acs-flex-row-reverse-lg {
-ms-flex-direction: row-reverse;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.acs-flex-column-reverse-lg {
-ms-flex-direction: column-reverse;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
flex-direction: column-reverse;
}
.acs-flex-wrap-lg {
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.acs-flex-nowrap-lg {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}
.acs-flex-wrap-reverse-lg {
-ms-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
}
.acs-flex-fill-lg {
-ms-flex: 1 1 auto;
-webkit-box-flex: 1;
flex: 1 1 auto;
}
.acs-flex-grow-zero-lg {
-ms-flex-positive: 0;
-webkit-box-flex: 0;
flex-grow: 0;
}
.acs-flex-grow-one-lg {
-ms-flex-positive: 1;
-webkit-box-flex: 1;
flex-grow: 1;
}
.acs-flex-shrink-zero-lg {
-ms-flex-negative: 0;
flex-shrink: 0;
}
.acs-flex-shrink-one-lg {
-ms-flex-negative: 1;
flex-shrink: 1;
}
.acs-justify-content-start-lg {
-ms-flex-pack: start;
-webkit-box-pack: start;
justify-content: flex-start;
}
.acs-justify-content-end-lg {
-ms-flex-pack: end;
-webkit-box-pack: end;
justify-content: flex-end;
}
.acs-justify-content-center-lg {
-ms-flex-pack: center;
-webkit-box-pack: center;
justify-content: center;
}
.acs-justify-content-between-lg {
-ms-flex-pack: justify;
-webkit-box-pack: justify;
justify-content: space-between;
}
.acs-justify-content-around-lg {
-ms-flex-pack: distribute;
justify-content: space-around;
}
.acs-align-items-start-lg {
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
}
.acs-align-items-end-lg {
-ms-flex-align: end;
-webkit-box-align: end;
align-items: flex-end;
}
.acs-align-items-center-lg {
-ms-flex-align: center;
-webkit-box-align: center;
align-items: center;
}
.acs-align-items-baseline-lg {
-ms-flex-align: baseline;
-webkit-box-align: baseline;
align-items: baseline;
}
.acs-align-items-stretch-lg {
-ms-flex-align: stretch;
-webkit-box-align: stretch;
align-items: stretch;
}
.acs-align-content-start-lg {
-ms-flex-line-pack: start;
align-content: flex-start;
}
.acs-align-content-end-lg {
-ms-flex-line-pack: end;
align-content: flex-end;
}
.acs-align-content-center-lg {
-ms-flex-line-pack: center;
align-content: center;
}
.acs-align-content-between-lg {
-ms-flex-line-pack: justify;
align-content: space-between;
}
.acs-align-content-around-lg {
-ms-flex-line-pack: distribute;
align-content: space-around;
}
.acs-align-content-stretch-lg {
-ms-flex-line-pack: stretch;
align-content: stretch;
}
.acs-align-self-auto-lg {
-ms-flex-item-align: auto;
-ms-grid-row-align: auto;
align-self: auto;
}
.acs-align-self-start-lg {
-ms-flex-item-align: start;
align-self: flex-start;
}
.acs-align-self-end-lg {
-ms-flex-item-align: end;
align-self: flex-end;
}
.acs-align-self-center-lg {
-ms-flex-item-align: center;
-ms-grid-row-align: center;
align-self: center;
}
.acs-align-self-baseline-lg {
-ms-flex-item-align: baseline;
align-self: baseline;
}
.acs-align-self-stretch-lg {
-ms-flex-item-align: stretch;
-ms-grid-row-align: stretch;
align-self: stretch;
}
}

/* Flex For devices larger than 1024px (Extra Large Desktop) */
@media (min-width: 1024px) {
.acs-flex-xl {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
}
.acs-inline-flex-xl {
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
}
.acs-flex-row-xl {
-ms-flex-direction: row;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
}
.acs-flex-column-xl {
-ms-flex-direction: column;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
}
.acs-flex-row-reverse-xl {
-ms-flex-direction: row-reverse;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.acs-flex-column-reverse-xl {
-ms-flex-direction: column-reverse;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
flex-direction: column-reverse;
}
.acs-flex-wrap-xl {
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.acs-flex-nowrap-xl {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}
.acs-flex-wrap-reverse-xl {
-ms-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
}
.acs-flex-fill-xl {
-ms-flex: 1 1 auto;
-webkit-box-flex: 1;
flex: 1 1 auto;
}
.acs-flex-grow-zero-xl {
-ms-flex-positive: 0;
-webkit-box-flex: 0;
flex-grow: 0;
}
.acs-flex-grow-one-xl {
-ms-flex-positive: 1;
-webkit-box-flex: 1;
flex-grow: 1;
}
.acs-flex-shrink-zero-xl {
-ms-flex-negative: 0;
flex-shrink: 0;
}
.acs-flex-shrink-one-xl {
-ms-flex-negative: 1;
flex-shrink: 1;
}
.acs-justify-content-start-xl {
-ms-flex-pack: start;
-webkit-box-pack: start;
justify-content: flex-start;
}
.acs-justify-content-end-xl {
-ms-flex-pack: end;
-webkit-box-pack: end;
justify-content: flex-end;
}
.acs-justify-content-center-xl {
-ms-flex-pack: center;
-webkit-box-pack: center;
justify-content: center;
}
.acs-justify-content-between-xl {
-ms-flex-pack: justify;
-webkit-box-pack: justify;
justify-content: space-between;
}
.acs-justify-content-around-xl {
-ms-flex-pack: distribute;
justify-content: space-around;
}
.acs-align-items-start-xl {
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
}
.acs-align-items-end-xl {
-ms-flex-align: end;
-webkit-box-align: end;
align-items: flex-end;
}
.acs-align-items-center-xl {
-ms-flex-align: center;
-webkit-box-align: center;
align-items: center;
}
.acs-align-items-baseline-xl {
-ms-flex-align: baseline;
-webkit-box-align: baseline;
align-items: baseline;
}
.acs-align-items-stretch-xl {
-ms-flex-align: stretch;
-webkit-box-align: stretch;
align-items: stretch;
}
.acs-align-content-start-xl {
-ms-flex-line-pack: start;
align-content: flex-start;
}
.acs-align-content-end-xl {
-ms-flex-line-pack: end;
align-content: flex-end;
}
.acs-align-content-center-xl {
-ms-flex-line-pack: center;
align-content: center;
}
.acs-align-content-between-xl {
-ms-flex-line-pack: justify;
align-content: space-between;
}
.acs-align-content-around-xl {
-ms-flex-line-pack: distribute;
align-content: space-around;
}
.acs-align-content-stretch-xl {
-ms-flex-line-pack: stretch;
align-content: stretch;
}
.acs-align-self-auto-xl {
-ms-flex-item-align: auto;
-ms-grid-row-align: auto;
align-self: auto;
}
.acs-align-self-start-xl {
-ms-flex-item-align: start;
align-self: flex-start;
}
.acs-align-self-end-xl {
-ms-flex-item-align: end;
align-self: flex-end;
}
.acs-align-self-center-xl {
-ms-flex-item-align: center;
-ms-grid-row-align: center;
align-self: center;
}
.acs-align-self-baseline-xl {
-ms-flex-item-align: baseline;
align-self: baseline;
}
.acs-align-self-stretch-xl {
-ms-flex-item-align: stretch;
-ms-grid-row-align: stretch;
align-self: stretch;
}
}

/* Flex For devices larger than 1280px (2XL Desktop) */
@media (min-width: 1280px) {
.acs-flex-2xl {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
}
.acs-inline-flex-2xl {
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
}
.acs-flex-row-2xl {
-ms-flex-direction: row;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
}
.acs-flex-column-2xl {
-ms-flex-direction: column;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
}
.acs-flex-row-reverse-2xl {
-ms-flex-direction: row-reverse;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.acs-flex-column-reverse-2xl {
-ms-flex-direction: column-reverse;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
flex-direction: column-reverse;
}
.acs-flex-wrap-2xl {
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.acs-flex-nowrap-2xl {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}
.acs-flex-wrap-reverse-2xl {
-ms-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
}
.acs-flex-fill-2xl {
-ms-flex: 1 1 auto;
-webkit-box-flex: 1;
flex: 1 1 auto;
}
.acs-flex-grow-zero-2xl {
-ms-flex-positive: 0;
-webkit-box-flex: 0;
flex-grow: 0;
}
.acs-flex-grow-one-2xl {
-ms-flex-positive: 1;
-webkit-box-flex: 1;
flex-grow: 1;
}
.acs-flex-shrink-zero-2xl {
-ms-flex-negative: 0;
flex-shrink: 0;
}
.acs-flex-shrink-one-2xl {
-ms-flex-negative: 1;
flex-shrink: 1;
}
.acs-justify-content-start-2xl {
-ms-flex-pack: start;
-webkit-box-pack: start;
justify-content: flex-start;
}
.acs-justify-content-end-2xl {
-ms-flex-pack: end;
-webkit-box-pack: end;
justify-content: flex-end;
}
.acs-justify-content-center-2xl {
-ms-flex-pack: center;
-webkit-box-pack: center;
justify-content: center;
}
.acs-justify-content-between-2xl {
-ms-flex-pack: justify;
-webkit-box-pack: justify;
justify-content: space-between;
}
.acs-justify-content-around-2xl {
-ms-flex-pack: distribute;
justify-content: space-around;
}
.acs-align-items-start-2xl {
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
}
.acs-align-items-end-2xl {
-ms-flex-align: end;
-webkit-box-align: end;
align-items: flex-end;
}
.acs-align-items-center-2xl {
-ms-flex-align: center;
-webkit-box-align: center;
align-items: center;
}
.acs-align-items-baseline-2xl {
-ms-flex-align: baseline;
-webkit-box-align: baseline;
align-items: baseline;
}
.acs-align-items-stretch-2xl {
-ms-flex-align: stretch;
-webkit-box-align: stretch;
align-items: stretch;
}
.acs-align-content-start-2xl {
-ms-flex-line-pack: start;
align-content: flex-start;
}
.acs-align-content-end-2xl {
-ms-flex-line-pack: end;
align-content: flex-end;
}
.acs-align-content-center-2xl {
-ms-flex-line-pack: center;
align-content: center;
}
.acs-align-content-between-2xl {
-ms-flex-line-pack: justify;
align-content: space-between;
}
.acs-align-content-around-2xl {
-ms-flex-line-pack: distribute;
align-content: space-around;
}
.acs-align-content-stretch-2xl {
-ms-flex-line-pack: stretch;
align-content: stretch;
}
.acs-align-self-auto-2xl {
-ms-flex-item-align: auto;
-ms-grid-row-align: auto;
align-self: auto;
}
.acs-align-self-start-2xl {
-ms-flex-item-align: start;
align-self: flex-start;
}
.acs-align-self-end-2xl {
-ms-flex-item-align: end;
align-self: flex-end;
}
.acs-align-self-center-2xl {
-ms-flex-item-align: center;
-ms-grid-row-align: center;
align-self: center;
}
.acs-align-self-baseline-2xl {
-ms-flex-item-align: baseline;
align-self: baseline;
}
.acs-align-self-stretch-2xl {
-ms-flex-item-align: stretch;
-ms-grid-row-align: stretch;
align-self: stretch;
}
}

/* Flex For devices larger than 1536px (3XL Desktop) */
@media (min-width: 1536px) {
.acs-flex-3xl {
display: -ms-flexbox;
display: -webkit-box;
display: flex;
}
.acs-inline-flex-3xl {
display: -ms-inline-flexbox;
display: -webkit-inline-box;
display: inline-flex;
}
.acs-flex-row-3xl {
-ms-flex-direction: row;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
flex-direction: row;
}
.acs-flex-column-3xl {
-ms-flex-direction: column;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
}
.acs-flex-row-reverse-3xl {
-ms-flex-direction: row-reverse;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
flex-direction: row-reverse;
}
.acs-flex-column-reverse-3xl {
-ms-flex-direction: column-reverse;
-webkit-box-orient: vertical;
-webkit-box-direction: reverse;
flex-direction: column-reverse;
}
.acs-flex-wrap-3xl {
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.acs-flex-nowrap-3xl {
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}
.acs-flex-wrap-reverse-3xl {
-ms-flex-wrap: wrap-reverse;
flex-wrap: wrap-reverse;
}
.acs-flex-fill-3xl {
-ms-flex: 1 1 auto;
-webkit-box-flex: 1;
flex: 1 1 auto;
}
.acs-flex-grow-zero-3xl {
-ms-flex-positive: 0;
-webkit-box-flex: 0;
flex-grow: 0;
}
.acs-flex-grow-one-3xl {
-ms-flex-positive: 1;
-webkit-box-flex: 1;
flex-grow: 1;
}
.acs-flex-shrink-zero-3xl {
-ms-flex-negative: 0;
flex-shrink: 0;
}
.acs-flex-shrink-one-3xl {
-ms-flex-negative: 1;
flex-shrink: 1;
}
.acs-justify-content-start-3xl {
-ms-flex-pack: start;
-webkit-box-pack: start;
justify-content: flex-start;
}
.acs-justify-content-end-3xl {
-ms-flex-pack: end;
-webkit-box-pack: end;
justify-content: flex-end;
}
.acs-justify-content-center-3xl {
-ms-flex-pack: center;
-webkit-box-pack: center;
justify-content: center;
}
.acs-justify-content-between-3xl {
-ms-flex-pack: justify;
-webkit-box-pack: justify;
justify-content: space-between;
}
.acs-justify-content-around-3xl {
-ms-flex-pack: distribute;
justify-content: space-around;
}
.acs-align-items-start-3xl {
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
}
.acs-align-items-end-3xl {
-ms-flex-align: end;
-webkit-box-align: end;
align-items: flex-end;
}
.acs-align-items-center-3xl {
-ms-flex-align: center;
-webkit-box-align: center;
align-items: center;
}
.acs-align-items-baseline-3xl {
-ms-flex-align: baseline;
-webkit-box-align: baseline;
align-items: baseline;
}
.acs-align-items-stretch-3xl {
-ms-flex-align: stretch;
-webkit-box-align: stretch;
align-items: stretch;
}
.acs-align-content-start-3xl {
-ms-flex-line-pack: start;
align-content: flex-start;
}
.acs-align-content-end-3xl {
-ms-flex-line-pack: end;
align-content: flex-end;
}
.acs-align-content-center-3xl {
-ms-flex-line-pack: center;
align-content: center;
}
.acs-align-content-between-3xl {
-ms-flex-line-pack: justify;
align-content: space-between;
}
.acs-align-content-around-3xl {
-ms-flex-line-pack: distribute;
align-content: space-around;
}
.acs-align-content-stretch-3xl {
-ms-flex-line-pack: stretch;
align-content: stretch;
}
.acs-align-self-auto-3xl {
-ms-flex-item-align: auto;
-ms-grid-row-align: auto;
align-self: auto;
}
.acs-align-self-start-3xl {
-ms-flex-item-align: start;
align-self: flex-start;
}
.acs-align-self-end-3xl {
-ms-flex-item-align: end;
align-self: flex-end;
}
.acs-align-self-center-3xl {
-ms-flex-item-align: center;
-ms-grid-row-align: center;
align-self: center;
}
.acs-align-self-baseline-3xl {
-ms-flex-item-align: baseline;
align-self: baseline;
}
.acs-align-self-stretch-3xl {
-ms-flex-item-align: stretch;
-ms-grid-row-align: stretch;
align-self: stretch;
}
}

/* Hide/Appear */
/* For devices larger than 0px */
.acs-hide {
display: none;
visibility: hidden;
}
.acs-appear {
display: block;
visibility: visible;
}
.acs-collapse {
display: none;
visibility: collapse;
}
.acs-contents {
display: contents;
visibility: visible;
}

.acs-disaply-inline {
display: inline;
}

.acs-display-inline-block {
display: inline-block;
}

.acs-display-block {
display: block;
}

.acs-display-table {
display: table;
}

.acs-display-table-row {
display: table-row;
}

.acs-display-table-cell {
display: table-cell;
}

.acs-display-flex {
display: -ms-flexbox;
display: flex;
}

.acs-display-inline-flex {
display: -ms-inline-flexbox;
display: inline-flex;
}

/* For devices larger than 575px (Phablet) */
@media (min-width: 575px) {
.acs-hide-sm {
display: none;
visibility: hidden;
}
.acs-appear-sm {
display: block;
visibility: visible;
}
.acs-collapse-sm {
display: none;
visibility: collapse;
}
.acs-contents-sm {
display: contents;
visibility: visible;
}

.acs-disaply-inline-sm {
display: inline;
}

.acs-display-inline-block-sm {
display: inline-block;
}

.acs-display-block-sm {
display: block;
}

.acs-display-table-sm {
display: table;
}

.acs-display-table-row-sm {
display: table-row;
}

.acs-display-table-cell-sm {
display: table-cell;
}

.acs-display-flex-sm {
display: -ms-flexbox;
display: flex;
}

.acs-display-inline-flex-sm {
display: -ms-inline-flexbox;
display: inline-flex;
}
}

/* For devices larger than 768px (Desktop) */
@media (min-width: 768px) {
.acs-hide-md {
display: none;
visibility: hidden;
}
.acs-appear-md {
display: block;
visibility: visible;
}
.acs-collapse-md {
display: none;
visibility: collapse;
}
.acs-contents-md {
display: contents;
visibility: visible;
}

.acs-disaply-inline-md {
display: inline;
}

.acs-display-inline-block-md {
display: inline-block;
}

.acs-display-block-md {
display: block;
}

.acs-display-table-md {
display: table;
}

.acs-display-table-row-md {
display: table-row;
}

.acs-display-table-cell-md {
display: table-cell;
}

.acs-display-flex-md {
display: -ms-flexbox;
display: flex;
}

.acs-display-inline-flex-md {
display: -ms-inline-flexbox;
display: inline-flex;
}
}

/* For devices larger than 995px (Large Desktop) */
@media (min-width: 995px) {
.acs-hide-lg {
display: none;
visibility: hidden;
}
.acs-appear-lg {
display: block;
visibility: visible;
}
.acs-collapse-lg {
display: none;
visibility: collapse;
}
.acs-contents-lg {
display: contents;
visibility: visible;
}

.acs-disaply-inline-lg {
display: inline;
}

.acs-display-inline-block-lg {
display: inline-block;
}

.acs-display-block-lg {
display: block;
}

.acs-display-table-lg {
display: table;
}

.acs-display-table-row-lg {
display: table-row;
}

.acs-display-table-cell-lg {
display: table-cell;
}

.acs-display-flex-lg {
display: -ms-flexbox;
display: flex;
}

.acs-display-inline-flex-lg {
display: -ms-inline-flexbox;
display: inline-flex;
}
}

/* For devices larger than 1024px (Extra Large Desktop) */
@media (min-width: 1024px) {
.acs-hide-2xl {
display: none;
visibility: hidden;
}
.acs-appear-2xl {
display: block;
visibility: visible;
}
.acs-collapse-2xl {
display: none;
visibility: collapse;
}
.acs-contents-2xl {
display: contents;
visibility: visible;
}

.acs-disaply-inline-2xl {
display: inline;
}

.acs-display-inline-block-2xl {
display: inline-block;
}

.acs-display-block-2xl {
display: block;
}

.acs-display-table-2xl {
display: table;
}

.acs-display-table-row-2xl {
display: table-row;
}

.acs-display-table-cell-2xl {
display: table-cell;
}

.acs-display-flex-2xl {
display: -ms-flexbox;
display: flex;
}

.acs-display-inline-flex-2xl {
display: -ms-inline-flexbox;
display: inline-flex;
}
}

/* For devices larger than 1536px (3XL Desktop) */
@media (min-width: 1536px) {
.acs-hide-3xl {
display: none;
visibility: hidden;
}
.acs-appear-3xl {
display: block;
visibility: visible;
}
.acs-collapse-3xl {
display: none;
visibility: collapse;
}
.acs-contents-3xl {
display: contents;
visibility: visible;
}

.acs-disaply-inline-3xl {
display: inline;
}

.acs-display-inline-block-3xl {
display: inline-block;
}

.acs-display-block-3xl {
display: block;
}

.acs-display-table-3xl {
display: table;
}

.acs-display-table-row-3xl {
display: table-row;
}

.acs-display-table-cell-3xl {
display: table-cell;
}

.acs-display-flex-3xl {
display: -ms-flexbox;
display: flex;
}

.acs-display-inline-flex-3xl {
display: -ms-inline-flexbox;
display: inline-flex;
}
}

/* Responsive Image */
.acs-img-full-width {
width: 100%;
height: auto;
-webkit-box-sizing: border-box;
box-sizing: border-box; 
border: 0;
vertical-align: middle
}


/* Hide All */
.acs-hide-all {
display: none;
visibility: hidden;
}


/* Text */
.acs-wrapper {
font-size: 1rem;
line-height: 1.8;
}

/* Headings */
/* Normalizer */
.acs-h1, .acs-h2, .acs-h3, .acs-h4, .acs-h5, .acs-h6, p  {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}


/* Extra Text Sizes */
/* Normalizer */
.acs-text-1,
.acs-text-2,
.acs-text-3,
.acs-text-4,
.acs-text-5,
.acs-text-6,
.acs-text-7,
.acs-text-8,
.acs-text-9,
.acs-text-10,
.acs-text-1-sm,
.acs-text-2-sm,
.acs-text-3-sm,
.acs-text-4-sm,
.acs-text-5-sm,
.acs-text-6-sm,
.acs-text-7-sm,
.acs-text-8-sm,
.acs-text-9-sm,
.acs-text-10-sm,
.acs-text-1-md,
.acs-text-2-md,
.acs-text-3-md,
.acs-text-4-md,
.acs-text-5-md,
.acs-text-6-md,
.acs-text-7-md,
.acs-text-8-md,
.acs-text-9-md,
.acs-text-10-md,
.acs-text-1-lg,
.acs-text-2-lg,
.acs-text-3-lg,
.acs-text-4-lg,
.acs-text-5-lg,
.acs-text-6-lg,
.acs-text-7-lg,
.acs-text-8-lg,
.acs-text-9-lg,
.acs-text-10-lg,
.acs-text-1-xl,
.acs-text-2-xl,
.acs-text-3-xl,
.acs-text-4-xl,
.acs-text-5-xl,
.acs-text-6-xl,
.acs-text-7-xl,
.acs-text-8-xl,
.acs-text-9-xl,
.acs-text-10-xl,
.acs-text-1-2xl,
.acs-text-2-2xl,
.acs-text-3-2xl,
.acs-text-4-2xl,
.acs-text-5-2xl,
.acs-text-6-2xl,
.acs-text-7-2xl,
.acs-text-8-2xl,
.acs-text-9-2xl,
.acs-text-10-2xl,
.acs-text-1-3xl,
.acs-text-2-3xl,
.acs-text-3-3xl,
.acs-text-4-3xl,
.acs-text-5-3xl,
.acs-text-6-3xl,
.acs-text-7-3xl,
.acs-text-8-3xl,
.acs-text-9-3xl,
.acs-text-10-3xl {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


/* For devices larger than 0px */
.acs-text-1 {
font-size: .75rem
}
.acs-text-2 {
font-size: .875rem
}
.acs-text-3 {
font-size: 1rem
}
.acs-text-4 {
font-size: 1.125rem
}
.acs-text-5 {
font-size: 1.25rem
}
.acs-text-6 {
font-size: 1.5rem
}
.acs-text-7 {
font-size: 1.875rem
}
.acs-text-8 {
font-size: 2.25rem
}
.acs-text-9 {
font-size: 3rem
}
.acs-text-10 {
font-size: 4rem
}

/* For devices larger than 575px (Phablet) */
@media (min-width: 575px) {
.acs-text-1-sm {
font-size: .75rem
}
.acs-text-2-sm {
font-size: .875rem
}
.acs-text-3-sm {
font-size: 1rem
}
.acs-text-4-sm {
font-size: 1.125rem
}
.acs-text-5-sm {
font-size: 1.25rem
}
.acs-text-6-sm {
font-size: 1.5rem
}
.acs-text-7-sm {
font-size: 1.875rem
}
.acs-text-8-sm {
font-size: 2.25rem
}
.acs-text-9-sm {
font-size: 3rem
}
.acs-text-10-sm {
font-size: 4rem
}
}

/* For devices larger than 768px (Desktop) */
@media (min-width: 768px) {
.acs-text-1-md {
font-size: .75rem
}
.acs-text-2-md {
font-size: .875rem
}
.acs-text-3-md {
font-size: 1rem
}
.acs-text-4-md {
font-size: 1.125rem
}
.acs-text-5-md {
font-size: 1.25rem
}
.acs-text-6-md {
font-size: 1.5rem
}
.acs-text-7-md {
font-size: 1.875rem
}
.acs-text-8-md {
font-size: 2.25rem
}
.acs-text-9-md {
font-size: 3rem
}
.acs-text-10-md {
font-size: 4rem
}
}

/* For devices larger than 995px (Large Desktop) */
@media (min-width: 995px) {
.acs-text-1-lg {
font-size: .75rem
}
.acs-text-2-lg {
font-size: .875rem
}
.acs-text-3-lg {
font-size: 1rem
}
.acs-text-4-lg {
font-size: 1.125rem
}
.acs-text-5-lg {
font-size: 1.25rem
}
.acs-text-6-lg {
font-size: 1.5rem
}
.acs-text-7-lg {
font-size: 1.875rem
}
.acs-text-8-lg {
font-size: 2.25rem
}
.acs-text-9-lg {
font-size: 3rem
}
.acs-text-10-lg {
font-size: 4rem
}
}

/* For devices larger than 1024px (Extra Large Desktop) */
@media (min-width: 1024px) {
.acs-text-1-xl {
font-size: .75rem
}
.acs-text-2-xl {
font-size: .875rem
}
.acs-text-3-xl {
font-size: 1rem
}
.acs-text-4-xl {
font-size: 1.125rem
}
.acs-text-5-xl {
font-size: 1.25rem
}
.acs-text-6-xl {
font-size: 1.5rem
}
.acs-text-7-xl {
font-size: 1.875rem
}
.acs-text-8-xl {
font-size: 2.25rem
}
.acs-text-9-xl {
font-size: 3rem
}
.acs-text-10-xl {
font-size: 4rem
} 
}


/* For devices larger than 1280px (2XL Desktop) */
@media (min-width: 1280px) {
.acs-text-1-2xl {
font-size: .75rem
}
.acs-text-2-2xl {
font-size: .875rem
}
.acs-text-3-2xl {
font-size: 1rem
}
.acs-text-4-2xl {
font-size: 1.125rem
}
.acs-text-5-2xl {
font-size: 1.25rem
}
.acs-text-6-2xl {
font-size: 1.5rem
}
.acs-text-7-2xl {
font-size: 1.875rem
}
.acs-text-8-2xl {
font-size: 2.25rem
}
.acs-text-9-2xl {
font-size: 3rem
}
.acs-text-10-2xl {
font-size: 4rem
}  
}



/* For devices larger than 1536px (3XL Desktop) */
@media (min-width: 1536px) {
.acs-text-1-3xl {
font-size: .75rem
}
.acs-text-2-3xl {
font-size: .875rem
}
.acs-text-3-3xl {
font-size: 1rem
}
.acs-text-4-3xl {
font-size: 1.125rem
}
.acs-text-5-3xl {
font-size: 1.25rem
}
.acs-text-6-3xl {
font-size: 1.5rem
}
.acs-text-7-3xl {
font-size: 1.875rem
}
.acs-text-8-3xl {
font-size: 2.25rem
}
.acs-text-9-3xl {
font-size: 3rem
}
.acs-text-10-3xl {
font-size: 4rem
}   
}


/* Line Height */
.acs-lh-1 {
line-height: .5;
}
.acs-lh-2 {
line-height: .75;
}
.acs-lh-3 {
line-height: 1;
}
.acs-lh-4 {
line-height: 1.25;
}
.acs-lh-5 {
line-height: 1.5;
}
.acs-lh-6 {
line-height: 1.75;
}
.acs-lh-7 {
line-height: 2;
}
.acs-lh-8 {
line-height: 2.25;
}
.acs-lh-9 {
line-height: 2.5;
}
.acs-lh-10 {
line-height: 2.75;
}



/* Letter Spacing */
.acs-n-ls-5 {
letter-spacing: -1.5em; 
}
.acs-n-ls-4 {
letter-spacing: -1em; 
}	
.acs-n-ls-3 {
letter-spacing: -0.75em; 
}	
.acs-n-ls-2 {
letter-spacing: -0.05em; 
}	
.acs-n-ls-1	{
letter-spacing: -0.025em;
}
.acs-ls-1 {
letter-spacing: 0.025em;
}	
.acs-ls-2	{
letter-spacing: 0.05em;
}
.acs-ls-3 {
letter-spacing: 0.75em;
}
.acs-ls-4 {
letter-spacing: 1em;
}
.acs-ls-5 {
letter-spacing: 1.5em;
}



/* Alignment */
/* For devices larger than 0px */
.acs-text-left {
text-align: left;
}
.acs-text-center {
text-align: center;
}
.acs-text-right {
text-align: right;
}
.acs-text-justify {
text-align: justify;
}


/* For devices larger than 575px (Phablet) */
@media (min-width: 575px) {
.acs-text-left-sm {
text-align: left;
}
.acs-text-center-sm {
text-align: center;
}
.acs-text-right-sm {
text-align: right;
}
.acs-text-justify-sm {
text-align: justify;
}
}

/* For devices larger than 768px (Desktop) */
@media (min-width: 768px) {
.acs-text-left-md {
text-align: left;
}
.acs-text-center-md {
text-align: center;
}
.acs-text-right-md {
text-align: right;
}
.acs-text-justify-md {
text-align: justify;
}
}

/* For devices larger than 995px (Large Desktop) */
@media (min-width: 995px) {
.acs-text-left-lg {
text-align: left;
}
.acs-text-center-lg {
text-align: center;
}
.acs-text-right-lg {
text-align: right;
}
.acs-text-justify-lg {
text-align: justify;
}
}

/* For devices larger than 1024px (Extra Large Desktop) */
@media (min-width: 1024px) {
.acs-text-left-xl {
text-align: left;
}
.acs-text-center-xl {
text-align: center;
}
.acs-text-right-xl {
text-align: right;
}
.acs-text-justify-xl {
text-align: justify;
}
}

/* For devices larger than 1024px (Extra Large Desktop) */
@media (min-width: 1280px) {
.acs-text-left-2xl {
text-align: left;
}
.acs-text-center-2xl {
text-align: center;
}
.acs-text-right-2xl {
text-align: right;
}
.acs-text-justify-2xl {
text-align: justify;
}
}

/* For devices larger than 1024px (Extra Large Desktop) */
@media (min-width: 1536px) {
.acs-text-left-3xl {
text-align: left;
}
.acs-text-center-3xl {
text-align: center;
}
.acs-text-right-3xl {
text-align: right;
}
.acs-text-justify-3xl {
text-align: justify;
}
}

/* Text */
.acs-italic {
font-style: italic;
}
.acs-lowercase {
text-transform: lowercase;
}
.acs-uppercase {
text-transform: uppercase;
}
.acs-capitalize {
text-transform: capitalize;
}
.acs-nowrap {
white-space: nowrap;
}



/* Padding Top */
.acs-pt-0 {
padding-top: 0
}
.acs-pt-1 {
padding-top: .25rem
}
.acs-pt-2 {
padding-top: .5rem
}
.acs-pt-3 {
padding-top: .75rem
}
.acs-pt-4 {
padding-top: 1rem
}
.acs-pt-5 {
padding-top: 1.25rem
}
.acs-pt-6 {
padding-top: 1.5rem
}
.acs-pt-7 {
padding-top: 1.75rem
}
.acs-pt-8 {
padding-top: 2rem
}
.acs-pt-9 {
padding-top: 2.5rem
}
.acs-pt-10 {
padding-top: 3rem
}
.acs-pt-11 {
padding-top: 4rem
}
.acs-pt-12 {
padding-top: 5rem
}
.acs-pt-13 {
padding-top: 6rem
}
.acs-pt-14 {
padding-top: 8rem
}
.acs-pt-15 {
padding-top: 10rem
}
.acs-pt-16 {
padding-top: 12rem
}
.acs-pt-17 {
padding-top: 14rem
}
.acs-pt-18 {
padding-top: 16rem
}
.acs-pt-19 {
padding-top: 18rem
}
.acs-pt-20 {
padding-top: 20rem
}



/* Padding Bottom */
.acs-pb-0 {
padding-bottom: 0
}
.acs-pb-1 {
padding-bottom: .25rem
}
.acs-pb-2 {
padding-bottom: .5rem
}
.acs-pb-3 {
padding-bottom: .75rem
}
.acs-pb-4 {
padding-bottom: 1rem
}
.acs-pb-5 {
padding-bottom: 1.25rem
}
.acs-pb-6 {
padding-bottom: 1.5rem
}
.acs-pb-7 {
padding-bottom: 1.75rem
}
.acs-pb-8 {
padding-bottom: 2rem
}
.acs-pb-9 {
padding-bottom: 2.5rem
}
.acs-pb-10 {
padding-bottom: 3rem
}
.acs-pb-11 {
padding-bottom: 4rem
}
.acs-pb-12 {
padding-bottom: 5rem
}
.acs-pb-13 {
padding-bottom: 6rem
}
.acs-pb-14 {
padding-bottom: 8rem
}
.acs-pb-15 {
padding-bottom: 10rem
}
.acs-pb-16 {
padding-bottom: 12rem
}
.acs-pb-17 {
padding-bottom: 14rem
}
.acs-pb-18 {
padding-bottom: 16rem
}
.acs-pb-19 {
padding-bottom: 18rem
}
.acs-pb-20 {
padding-bottom: 20rem
}



/** Padding Right **/
.acs-pr-0 {
padding-right: 0
}
.acs-pr-1 {
padding-right: .25rem
}
.acs-pr-2 {
padding-right: .5rem
}
.acs-pr-3 {
padding-right: .75rem
}
.acs-pr-4 {
padding-right: 1rem
}
.acs-pr-5 {
padding-right: 1.25rem
}
.acs-pr-6 {
padding-right: 1.5rem
}
.acs-pr-7 {
padding-right: 1.75rem
}
.acs-pr-8 {
padding-right: 2rem
}
.acs-pr-9 {
padding-right: 2.5rem
}
.acs-pr-10 {
padding-right: 3rem
}
.acs-pr-11 {
padding-right: 4rem
}
.acs-pr-12 {
padding-right: 5rem
}
.acs-pr-13 {
padding-right: 6rem
}
.acs-pr-14 {
padding-right: 8rem
}
.acs-pr-15 {
padding-right: 10rem
}
.acs-pr-16 {
padding-right: 12rem
}
.acs-pr-17 {
padding-right: 14rem
}
.acs-pr-18 {
padding-right: 16rem
}
.acs-pr-19 {
padding-right: 18rem
}
.acs-pr-20 {
padding-right: 20rem
}



/** Padding Left **/
.acs-pl-0 {
padding-left: 0
}
.acs-pl-1 {
padding-left: .25rem
}
.acs-pl-2 {
padding-left: .5rem
}
.acs-pl-3 {
padding-left: .75rem
}
.acs-pl-4 {
padding-left: 1rem
}
.acs-pl-5 {
padding-left: 1.25rem
}
.acs-pl-6 {
padding-left: 1.5rem
}
.acs-pl-7 {
padding-left: 1.75rem
}
.acs-pl-8 {
padding-left: 2rem
}
.acs-pl-9 {
padding-left: 2.5rem
}
.acs-pl-10 {
padding-left: 3rem
}
.acs-pl-11 {
padding-left: 4rem
}
.acs-pl-12 {
padding-left: 5rem
}
.acs-pl-13 {
padding-left: 6rem
}
.acs-pl-14 {
padding-left: 8rem
}
.acs-pl-15 {
padding-left: 10rem
}
.acs-pl-16 {
padding-left: 12rem
}
.acs-pl-17 {
padding-left: 14rem
}
.acs-pl-18 {
padding-left: 16rem
}
.pl-19 {
padding-left: 18rem
}
.acs-pl-20 {
padding-left: 20rem
}



/** Padding **/
.acs-p-0 {
padding: 0
}
.acs-p-1 {
padding: .25rem
}
.acs-p-2 {
padding: .5rem
}
.acs-p-3 {
padding: .75rem
}
.acs-p-4 {
padding: 1rem
}
.acs-p-5 {
padding: 1.25rem
}
.acs-p-6 {
padding: 1.5rem
}
.acs-p-7 {
padding: 1.75rem
}
.acs-p-8 {
padding: 2rem
}
.acs-p-9 {
padding: 2.5rem
}
.acs-p-10 {
padding: 3rem
}
.acs-p-11 {
padding: 4rem
}
.acs-p-12 {
padding: 5rem
}
.acs-p-13 {
padding: 6rem
}
.acs-p-14 {
padding: 8rem
}
.acs-p-15 {
padding: 10rem
}
.acs-p-16 {
padding: 12rem
}
.acs-p-17 {
padding: 14rem
}
.acs-p-18 {
padding: 16rem
}
.acs-p-19 {
padding: 18rem
}
.acs-p-20 {
padding: 20rem
}



/** Padding Top & Bottom **/
.acs-py-0 {
padding-top: 0;
padding-bottom: 0
}
.acs-py-1 {
padding-top: .25rem;
padding-bottom: .25rem
}
.acs-py-2 {
padding-top: .5rem;
padding-bottom: .5rem
}
.acs-py-3 {
padding-top: .75rem;
padding-bottom: .75rem
}
.acs-py-4 {
padding-top: 1rem;
padding-bottom: 1rem
}
.acs-py-5 {
padding-top: 1.25rem;
padding-bottom: 1.25rem
}
.acs-py-6 {
padding-top: 1.5rem;
padding-bottom: 1.5rem
}
.acs-py-7 {
padding-top: 2rem;
padding-bottom: 2rem
}
.acs-py-8 {
padding-top: 2.5rem;
padding-bottom: 2.5rem
}
.acs-py-9 {
padding-top: 3rem;
padding-bottom: 3rem
}
.acs-py-10 {
padding-top: 3.5rem;
padding-bottom: 3.5rem
}
.acs-py-11 {
padding-top: 4rem;
padding-bottom: 4rem
}
.acs-py-12 {
padding-top: 5rem;
padding-bottom: 5rem
}
.acs-py-13 {
padding-top: 6rem;
padding-bottom: 6rem
}
.acs-py-14 {
padding-top: 8rem;
padding-bottom: 8rem
}
.acs-py-15 {
padding-top: 10rem;
padding-bottom: 10rem
}
.acs-py-16 {
padding-top: 12rem;
padding-bottom: 12rem
}
.acs-py-17 {
padding-top: 14rem;
padding-bottom: 14rem
}
.acs-py-18 {
padding-top: 16rem;
padding-bottom: 16rem
}
.acs-py-19 {
padding-top: 18rem;
padding-bottom: 18rem
}
.acs-py-20 {
padding-top: 20rem;
padding-bottom: 20rem
}



/** Padding Left & Right **/
.acs-px-0 {
padding-left: 0;
padding-right: 0
}
.acs-px-1 {
padding-left: .25rem;
padding-right: .25rem
}
.acs-px-2 {
padding-left: .5rem;
padding-right: .5rem
}
.acs-px-3 {
padding-left: .75rem;
padding-right: .75rem
}
.acs-px-4 {
padding-left: 1rem;
padding-right: 1rem
}
.acs-px-5 {
padding-left: 1.25rem;
padding-right: 1.25rem
}
.acs-px-6 {
padding-left: 1.5rem;
padding-right: 1.5rem
}
.acs-px-7 {
padding-left: 2rem;
padding-right: 2rem
}
.acs-px-8 {
padding-left: 2.5rem;
padding-right: 2.5rem
}
.acs-px-9 {
padding-left: 3rem;
padding-right: 3rem
}
.acs-px-10 {
padding-left: 3.5rem;
padding-right: 3.5rem
}
.acs-px-11 {
padding-left: 4rem;
padding-right: 4rem
}
.acs-px-12 {
padding-left: 5rem;
padding-right: 5rem
}
.acs-px-13 {
padding-left: 6rem;
padding-right: 6rem
}
.acs-px-14 {
padding-left: 8rem;
padding-right: 8rem
}
.acs-px-15 {
padding-left: 10rem;
padding-right: 10rem
}
.acs-px-16 {
padding-left: 12rem;
padding-right: 12rem
}
.acs-px-17 {
padding-left: 14rem;
padding-right: 14rem
}
.acs-px-18 {
padding-left: 16rem;
padding-right: 16rem
}
.acs-px-19 {
padding-left: 18rem;
padding-right: 18rem
}
.acs-px-20 {
padding-left: 20rem;
padding-right: 20rem
}



/** Margin **/
.acs-ma {
margin: 0 auto;
}
.acs-m-0 {
margin: 0
}
.acs-m-1 {
margin: .25rem
}
.acs-m-2 {
margin: .5rem
}
.acs-m-3 {
margin: .75rem
}
.acs-m-4 {
margin: 1rem
}
.acs-m-5 {
margin: 1.25rem
}
.acs-m-6 {
margin: 1.5rem
}
.acs-m-7 {
margin: 1.75rem
}
.acs-m-8 {
margin: 2rem
}
.acs-m-9 {
margin: 2.5rem
}
.acs-m-10 {
margin: 3rem
}
.acs-m-11 {
margin: 4rem
}
.acs-m-12 {
margin: 5rem
}
.acs-m-13 {
margin: 6rem
}
.acs-m-14 {
margin: 8rem
}
.acs-m-15 {
margin: 10rem
}
.acs-m-16 {
margin: 12rem
}
.acs-m-17 {
margin: 14rem
}
.acs-m-18 {
margin: 16rem
}
.acs-m-19 {
margin: 18rem
}
.acs-m-20 {
margin: 20rem
}



/** Margin Top & Bottom **/
.acs-my-0 {
margin-top: 0;
margin-bottom: 0
}
.acs-my-1 {
margin-top: .25rem;
margin-bottom: .25rem
}
.acs-my-2 {
margin-top: .5rem;
margin-bottom: .5rem
}
.acs-my-3 {
margin-top: .75rem;
margin-bottom: .75rem
}
.acs-my-4 {
margin-top: 1rem;
margin-bottom: 1rem
}
.acs-my-5 {
margin-top: 1.25rem;
margin-bottom: 1.25rem
}
.acs-my-6 {
margin-top: 1.5rem;
margin-bottom: 1.5rem
}
.acs-my-7 {
margin-top: 2rem;
margin-bottom: 2rem
}
.acs-my-8 {
margin-top: 2.5rem;
margin-bottom: 2.5rem
}
.acs-my-9 {
margin-top: 3rem;
margin-bottom: 3rem
}
.acs-my-10 {
margin-top: 3.5rem;
margin-bottom: 3.5rem
}
.acs-my-11 {
margin-top: 4rem;
margin-bottom: 4rem
}
.acs-my-12 {
margin-top: 5rem;
margin-bottom: 5rem
}
.acs-my-13 {
margin-top: 6rem;
margin-bottom: 6rem
}
.acs-my-14 {
margin-top: 8rem;
margin-bottom: 8rem
}
.acs-my-15 {
margin-top: 10rem;
margin-bottom: 10rem
}
.acs-my-16 {
margin-top: 12rem;
margin-bottom: 12rem
}
.acs-my-17 {
margin-top: 14rem;
margin-bottom: 14rem
}
.acs-my-18 {
margin-top: 16rem;
margin-bottom: 16rem
}
.acs-my-19 {
margin-top: 18rem;
margin-bottom: 18rem
}
.acs-my-20 {
margin-top: 20rem;
margin-bottom: 20rem
}



/** Margin Left & Right **/
.acs-mx-0 {
margin-left: 0;
margin-right: 0
}
.acs-mx-1 {
margin-left: .25rem;
margin-right: .25rem
}
.acs-mx-2 {
margin-left: .5rem;
margin-right: .5rem
}
.acs-mx-3 {
margin-left: .75rem;
margin-right: .75rem
}
.acs-mx-4 {
margin-left: 1rem;
margin-right: 1rem
}
.acs-mx-5 {
margin-left: 1.25rem;
margin-right: 1.25rem
}
.acs-mx-6 {
margin-left: 1.5rem;
margin-right: 1.5rem
}
.acs-mx-7 {
margin-left: 2rem;
margin-right: 2rem
}
.acs-mx-8 {
margin-left: 2.5rem;
margin-right: 2.5rem
}
.acs-mx-9 {
margin-left: 3rem;
margin-right: 3rem
}
.acs-mx-10 {
margin-left: 3.5rem;
margin-right: 3.5rem
}
.acs-mx-11 {
margin-left: 4rem;
margin-right: 4rem
}
.acs-mx-12 {
margin-left: 5rem;
margin-right: 5rem
}
.acs-mx-13 {
margin-left: 6rem;
margin-right: 6rem
}
.acs-mx-14 {
margin-left: 8rem;
margin-right: 8rem
}
.acs-mx-15 {
margin-left: 10rem;
margin-right: 10rem
}
.acs-mx-16 {
margin-left: 12rem;
margin-right: 12rem
}
.acs-mx-17 {
margin-left: 14rem;
margin-right: 14rem
}
.acs-mx-18 {
margin-left: 16rem;
margin-right: 16rem
}
.acs-mx-19 {
margin-left: 18rem;
margin-right: 18rem
}
.acs-mx-20 {
margin-left: 20rem;
margin-right: 20rem
}



/* Margin Top */
.acs-mt-auto {
margin-top: auto
}
.acs-mt-0 {
margin-top: 0
}
.acs-mt-1 {
margin-top: .25rem
}
.acs-mt-2 {
margin-top: .5rem
}
.acs-mt-3 {
margin-top: .75rem
}
.acs-mt-4 {
margin-top: 1rem
}
.acs-mt-5 {
margin-top: 1.25rem
}
.acs-mt-6 {
margin-top: 1.5rem
}
.acs-mt-7 {
margin-top: 1.75rem
}
.acs-mt-8 {
margin-top: 2rem
}
.acs-mt-9 {
margin-top: 2.5rem
}
.acs-mt-10 {
margin-top: 3rem
}
.acs-mt-11 {
margin-top: 4rem
}
.acs-mt-12 {
margin-top: 5rem
}
.acs-mt-13 {
margin-top: 6rem
}
.acs-mt-14 {
margin-top: 8rem
}
.acs-mt-15 {
margin-top: 10rem
}
.acs-mt-16 {
margin-top: 12rem
}
.acs-mt-17 {
margin-top: 14rem
}
.acs-mt-18 {
margin-top: 16rem
}
.acs-mt-19 {
margin-top: 18rem
}
.acs-mt-20 {
margin-top: 20rem
}



/* Margin Bottom */
.acs-mb-auto {
margin-bottom: auto
}
.acs-mb-0 {
margin-bottom: 0
}
.acs-mb-1 {
margin-bottom: .25rem
}
.acs-mb-2 {
margin-bottom: .5rem
}
.acs-mb-3 {
margin-bottom: .75rem
}
.acs-mb-4 {
margin-bottom: 1rem
}
.acs-mb-5 {
margin-bottom: 1.25rem
}
.acs-mb-6 {
margin-bottom: 1.5rem
}
.acs-mb-7 {
margin-bottom: 1.75rem
}
.acs-mb-8 {
margin-bottom: 2rem
}
.acs-mb-9 {
margin-bottom: 2.5rem
}
.acs-mb-10 {
margin-bottom: 3rem
}
.acs-mb-11 {
margin-bottom: 4rem
}
.acs-mb-12 {
margin-bottom: 5rem
}
.acs-mb-13 {
margin-bottom: 6rem
}
.acs-mb-14 {
margin-bottom: 8rem
}
.acs-mb-15 {
margin-bottom: 10rem
}
.acs-mb-16 {
margin-bottom: 12rem
}
.acs-mb-17 {
margin-bottom: 14rem
}
.acs-mb-18 {
margin-bottom: 16rem
}
.acs-mb-19 {
margin-bottom: 18rem
}
.acs-mb-20 {
margin-bottom: 20rem
}



/** Margin Left **/ 
.acs-ml-auto {
margin-left: auto
}
.acs-ml-0 {
margin-left: 0
}
.acs-ml-1 {
margin-left: .25rem
}
.acs-ml-2 {
margin-left: .5rem
}
.acs-ml-3 {
margin-left: .75rem
}
.acs-ml-4 {
margin-left: 1rem
}
.acs-ml-5 {
margin-left: 1.25rem
}
.acs-ml-6 {
margin-left: 1.5rem
}
.acs-ml-7 {
margin-left: 1.75rem
}
.acs-ml-8 {
margin-left: 2rem
}
.acs-ml-9 {
margin-left: 2.5rem
}
.acs-ml-10 {
margin-left: 3rem
}
.acs-ml-11 {
margin-left: 4rem
}
.acs-ml-12 {
margin-left: 5rem
}
.acs-ml-13 {
margin-left: 6rem
}
.acs-ml-14 {
margin-left: 8rem
}
.acs-ml-15 {
margin-left: 10rem
}
.acs-ml-16 {
margin-left: 12rem
}
.acs-ml-17 {
margin-left: 14rem
}
.acs-ml-18 {
margin-left: 16rem
}
.acs-ml-19 {
margin-left: 18rem
}
.acs-ml-20 {
margin-left: 20rem
}



/** Margin Right **/  
.acs-mr-auto {
margin-right: auto
}
.acs-mr-0 {
margin-right: 0
}
.acs-mr-1 {
margin-right: .25rem
}
.acs-mr-2 {
margin-right: .5rem
}
.acs-mr-3 {
margin-right: .75rem
}
.acs-mr-4 {
margin-right: 1rem
}
.acs-mr-5 {
margin-right: 1.25rem
}
.acs-mr-6 {
margin-right: 1.5rem
}
.acs-mr-7 {
margin-right: 1.75rem
}
.acs-mr-8 {
margin-right: 2rem
}
.acs-mr-9 {
margin-right: 2.5rem
}
.acs-mr-10 {
margin-right: 3rem
}
.acs-mr-11 {
margin-right: 4rem
}
.acs-mr-12 {
margin-right: 5rem
}
.acs-mr-13 {
margin-right: 6rem
}
.acs-mr-14 {
margin-right: 8rem
}
.acs-mr-15 {
margin-right: 10rem
}
.acs-mr-16 {
margin-right: 12rem
}
.acs-mr-17 {
margin-right: 14rem
}
.acs-mr-18 {
margin-right: 16rem
}
.acs-mr-19 {
margin-right: 18rem
}
.acs-mr-20 {
margin-right: 20rem
}


/** Negative Margin Left & Right **/
.acs-n-mx-0 {
margin-left: 0;
margin-right: 0
}
.acs-n-mx-1 {
margin-left: -.25rem;
margin-right: -.25rem
}
.acs-n-mx-2 {
margin-left: -.5rem;
margin-right: -.5rem
}
.acs-n-mx-3 {
margin-left: -.75rem;
margin-right: -.75rem
}
.acs-n-mx-4 {
margin-left: -1rem;
margin-right: -1rem
}
.acs-n-mx-5 {
margin-left: -1.25rem;
margin-right: -1.25rem
}
.acs-n-mx-6 {
margin-left: -1.5rem;
margin-right: -1.5rem
}
.acs-n-mx-7 {
margin-left: -2rem;
margin-right: -2rem
}
.acs-n-mx-8 {
margin-left: -2.5rem;
margin-right: -2.5rem
}
.acs-n-mx-9 {
margin-left: -3rem;
margin-right: -3rem
}
.acs-n-mx-10 {
margin-left: -3.5rem;
margin-right: -3.5rem
}
.acs-n-mx-11 {
margin-left: -4rem;
margin-right: -4rem
}
.acs-n-mx-12 {
margin-left: -5rem;
margin-right: -5rem
}
.acs-n-mx-13 {
margin-left: -6rem;
margin-right: -6rem
}
.acs-n-mx-14 {
margin-left: -8rem;
margin-right: -8rem
}
.acs-n-mx-15 {
margin-left: -10rem;
margin-right: -10rem
}
.acs-n-mx-16 {
margin-left: -12rem;
margin-right: -12rem
}
.acs-n-mx-17 {
margin-left: -14rem;
margin-right: -14rem
}
.acs-n-mx-18 {
margin-left: -16rem;
margin-right: -16rem
}
.acs-n-mx-19 {
margin-left: -18rem;
margin-right: -18rem
}
.acs-n-mx-20 {
margin-left: -20rem;
margin-right: -20rem
}


/** Negative Margin Top & Bottom **/
.acs-n-my-0 {
margin-top: 0;
margin-bottom: 0
}
.acs-n-my-1 {
margin-top: -.25rem;
margin-bottom: -.25rem
}
.acs-n-my-2 {
margin-top: -.5rem;
margin-bottom: -.5rem
}
.acs-n-my-3 {
margin-top: -.75rem;
margin-bottom: -.75rem
}
.acs-n-my-4 {
margin-top: -1rem;
margin-bottom: -1rem
}
.acs-n-my-5 {
margin-top: -1.25rem;
margin-bottom: -1.25rem
}
.acs-n-my-6 {
margin-top: -1.5rem;
margin-bottom: -1.5rem
}
.acs-n-my-7 {
margin-top: -2rem;
margin-bottom: -2rem
}
.acs-n-my-8 {
margin-top: -2.5rem;
margin-bottom: -2.5rem
}
.acs-n-my-9 {
margin-top: -3rem;
margin-bottom: -3rem
}
.acs-n-my-10 {
margin-top: -3.5rem;
margin-bottom: -3.5rem
}
.acs-n-my-11 {
margin-top: -4rem;
margin-bottom: -4rem
}
.acs-n-my-12 {
margin-top: -5rem;
margin-bottom: -5rem
}
.acs-n-my-13 {
margin-top: -6rem;
margin-bottom: -6rem
}
.acs-n-my-14 {
margin-top: -8rem;
margin-bottom: -8rem
}
.acs-n-my-15 {
margin-top: -10rem;
margin-bottom: -10rem
}
.acs-n-my-16 {
margin-top: -12rem;
margin-bottom: -12rem
}
.acs-n-my-17 {
margin-top: -14rem;
margin-bottom: -14rem
}
.acs-n-my-18 {
margin-top: -16rem;
margin-bottom: -16rem
}
.acs-n-my-19 {
margin-top: -18rem;
margin-bottom: -18rem
}
.acs-n-my-20 {
margin-top: -20rem;
margin-bottom: -20rem
}



/** Negative Margin Top **/ 
.acs-n-mt-0 {
margin-top: 0
}
.acs-n-mt-1 {
margin-top: -.25rem
}
.acs-n-mt-2 {
margin-top: -.5rem
}
.acs-n-mt-3 {
margin-top: -.75rem
}
.acs-n-mt-4 {
margin-top: -1rem
}
.acs-n-mt-5 {
margin-top: -1.25rem
}
.acs-n-mt-6 {
margin-top: -1.5rem
}
.acs-n-mt-7 {
margin-top: -1.75rem
}
.acs-n-mt-8 {
margin-top: -2rem
}
.acs-n-mt-9 {
margin-top: -2.5rem
}
.acs-n-mt-10 {
margin-top: -3rem
}
.acs-n-mt-11 {
margin-top: -4rem
}
.acs-n-mt-12 {
margin-top: -5rem
}
.acs-n-mt-13 {
margin-top: -6rem
}
.acs-n-mt-14 {
margin-top: -8rem
}
.acs-n-mt-15 {
margin-top: -10rem
}
.acs-n-mt-16 {
margin-top: -12rem
}
.acs-n-mt-17 {
margin-top: -14rem
}
.acs-n-mt-18 {
margin-top: -16rem
}
.acs-n-mt-19 {
margin-top: -18rem
}
.acs-n-mt-20 {
margin-top: -20rem
}



/** Negative Margin Bottom **/ 
.acs-n-mb-0 {
margin-bottom: 0
}
.acs-n-mb-1 {
margin-bottom: -.25rem
}
.acs-n-mb-2 {
margin-bottom: -.5rem
}
.acs-n-mb-3 {
margin-bottom: -.75rem
}
.acs-n-mb-4 {
margin-bottom: -1rem
}
.acs-n-mb-5 {
margin-bottom: -1.25rem
}
.acs-n-mb-6 {
margin-bottom: -1.5rem
}
.acs-n-mb-7 {
margin-bottom: -1.75rem
}
.acs-n-mb-8 {
margin-bottom: -2rem
}
.acs-n-mb-9 {
margin-bottom: -2.5rem
}
.acs-n-mb-10 {
margin-bottom: -3rem
}
.acs-n-mb-11 {
margin-bottom: -4rem
}
.acs-n-mb-12 {
margin-bottom: -5rem
}
.acs-n-mb-13 {
margin-bottom: -6rem
}
.acs-n-mb-14 {
margin-bottom: -8rem
}
.acs-n-mb-15 {
margin-bottom: -10rem
}
.acs-n-mb-16 {
margin-bottom: -12rem
}
.acs-n-mb-17 {
margin-bottom: -14rem
}
.acs-n-mb-18 {
margin-bottom: -16rem
}
.acs-n-mb-19 {
margin-bottom: -18rem
}
.acs-n-mb-20 {
margin-bottom: -20rem
}



/** Negative Margin Right **/ 
.acs-n-mr-0 {
margin-right: 0
}
.acs-n-mr-1 {
margin-right: -.25rem
}
.acs-n-mr-2 {
margin-right: -.5rem
}
.acs-n-mr-3 {
margin-right: -.75rem
}
.acs-n-mr-4 {
margin-right: -1rem
}
.acs-n-mr-5 {
margin-right: -1.25rem
}
.acs-n-mr-6 {
margin-right: -1.5rem
}
.acs-n-mr-7 {
margin-right: -1.75rem
}
.acs-n-mr-8 {
margin-right: -2rem
}
.acs-n-mr-9 {
margin-right: -2.5rem
}
.acs-n-mr-10 {
margin-right: -3rem
}
.acs-n-mr-11 {
margin-right: -4rem
}
.acs-n-mr-12 {
margin-right: -5rem
}
.acs-n-mr-13 {
margin-right: -6rem
}
.n-mr-14 {
margin-right: -8rem
}
.n-mr-15 {
margin-right: -10rem
}
.acs-n-mr-16 {
margin-right: -12rem
}
.acs-n-mr-17 {
margin-right: -14rem
}
.acs-n-mr-18 {
margin-right: -16rem
}
.acs-n-mr-19 {
margin-right: -18rem
}
.acs-n-mr-20 {
margin-right: -20rem
}



/** Negative Margin Left **/ 
.acs-n-ml-0 {
margin-left: 0
}
.acs-n-ml-1 {
margin-left: -.25rem
}
.acs-n-ml-2 {
margin-left: -.5rem
}
.acs-n-ml-3 {
margin-left: -.75rem
}
.acs-n-ml-4 {
margin-left: -1rem
}
.acs-n-ml-5 {
margin-left: -1.25rem
}
.acs-n-ml-6 {
margin-left: -1.5rem
}
.acs-n-ml-7 {
margin-left: -1.75rem
}
.acs-n-ml-8 {
margin-left: -2rem
}
.acs-n-ml-9 {
margin-left: -2.5rem
}
.acs-n-ml-10 {
margin-left: -3rem
}
.acs-n-ml-11 {
margin-left: -4rem
}
.acs-n-ml-12 {
margin-left: -5rem
}
.acs-n-ml-13 {
margin-left: -6rem
}
.acs-n-ml-14 {
margin-left: -8rem
}
.acs-n-ml-15 {
margin-left: -10rem
}
.acs-n-ml-16 {
margin-left: -12rem
}
.acs-n-ml-17 {
margin-left: -14rem
}
.acs-n-ml-18 {
margin-left: -16rem
}
.acs-n-ml-19 {
margin-left: -18rem
}
.acs-n-ml-20 {
margin-left: -20rem
}



/* Button Margin */  
.acs-button-margin {
margin: 0rem 1.2rem 1.2rem 0rem
}


/* Full Width Button */ 
.acs-button-fw {
min-width: 100%
}

/* For devices smaller than 767px (Small Desktop) */
@media (max-width: 767px) {
.acs-button-fw-mob {
min-width: 100% !important 
}
}



/* Opacity */
.acs-opacity-0 {
opacity: 0
}
.acs-opacity-5 {
opacity: 0.05
}
.acs-opacity-10 {
opacity: 0.1
}
.acs-opacity-20 {
opacity: 0.2
}
.acs-opacity-25 {
opacity: 0.25
}
.acs-opacity-30 {
opacity: 0.3
}
.acs-opacity-40 {
opacity: 0.4
}
.acs-opacity-50 {
opacity: 0.5
}
.acs-opacity-60 {
opacity: 0.6
}
.acs-opacity-70 {
opacity: 0.7
}
.acs-opacity-75 {
opacity: 0.75
}
.acs-opacity-80 {
opacity: 0.8
}
.acs-opacity-90 {
opacity: 0.95
}
.acs-opacity-95 {
opacity: 0.95
}
.acs-opacity-100 {
opacity: 1
}


/* Min Heights */
.acs-h10 {
min-height: 10rem
}
.acs-h15 {
min-height: 15rem
}
.acs-h20 {
min-height: 20rem
}
.acs-h25 {
min-height: 25rem
}
.acs-h30 {
min-height: 30rem
}
.acs-h35 {
min-height: 35rem
}
.acs-h40 {
min-height: 40rem
}
.acs-h45 {
min-height: 45rem
}
.acs-h50 {
min-height: 50rem
}
.acs-h55 {
min-height: 55rem
}
.acs-h60 {
min-height: 60rem
}
.acs-h65 {
min-height: 65rem
}
.acs-h70 {
min-height: 70rem
}
.acs-h75 {
min-height: 75rem
}
.acs-h80 {
min-height: 80rem
}
.acs-h85 {
min-height: 85rem
}
.acs-h90 {
min-height: 90rem
}
.acs-h95 {
min-height: 95rem
}
.acs-h100 {
min-height: 100rem
}